<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title><?php echo $tdk['seo_t']; ?></title>
    <link rel="stylesheet" href="/assets/home_mobile/css/about_us_index.css">
</head>
<body>
@@include('common/header.html')

<div class="container">
    <div class="one">
        <img src="/assets/home_mobile/image/pic_au_top.jpg" alt="" class="one-img">
    </div>

    <div class="two">
        <div class="title">关于我们</div>
        <div class="double-line"></div>
        <div class="text">
            深圳民众证券投资咨询顾问有限公司以
            <span class="bold">“用心、专心、 贴心”</span>
            为服务宗旨，以
            <span class="bold">“专心铸造专业，专业塑造品 质、品质打造品牌、品牌创造价”</span>
            为企业理念努力不懈地为广大投资者提供，个性化、精细化的投资顾问服务，深受广大投资者的青睐。
        </div>
        <div class="imgs">
            <img class="img-1" src="/assets/home_new/images/aboutus/common_au_pic_1.png" />
            <img class="img-2" src="/assets/home_new/images/aboutus/common_au_pic_2.png" />
            <img class="img-3" src="/assets/home_new/images/aboutus/common_au_pic_3.png" />
            <img class="img-4" src="/assets/home_new/images/aboutus/common_au_pic_4.png" />
        </div>
    </div>

    <div class="three">
        <div class="title">发展历程</div>
        <div class="double-line"></div>
        <div class="three-content">
            <div class="three-content-box left">
                <div class="box">
                    <div class="box-year">1998</div>
                    <div class="box-br"></div>
                    <div class="box-text">
                        民众投顾获得经营证券期货业务许可证
                    </div>

                </div>
                <div class="img">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="three-content-box right">
                <div class="img">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
                <div class="box">
                    <div class="box-year">2008</div>
                    <div class="box-br"></div>
                    <div class="box-text">
                        公司多位嘉宾受邀参与
                        湖北卫视等多家电视财
                        经栏目的制作与播出工
                        作，并获得一致认可
                    </div>

                </div>
            </div>
            <div class="three-content-box left">
                <div class="box">
                    <div class="box-year">2010</div>
                    <div class="box-br"></div>
                    <div class="box-text">
                        公司率先通过移动互联
                        网技术，将传统投顾服
                        务细分，提出微服务概
                        念，并完成了微投顾业
                        务的规划与基础建设
                    </div>

                </div>
                <div class="img">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="three-content-box right">
                <div class="img">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
                <div class="box">
                    <div class="box-year">2013</div>
                    <div class="box-br"></div>
                    <div class="box-text">
                        公司根据市场需求，建
                        立完善的产品体系及服
                        务体系构架，用两年的
                        时间开展小范围的客户
                        服务体验，获得良好的
                        市场反馈与用户口碑
                    </div>

                </div>
            </div>
            <div class="three-content-box left">
                <div class="box">
                    <div class="box-year">2015</div>
                    <div class="box-br"></div>
                    <div class="box-text">
                        民众投资董事会研究决
                        定，相继成立上海、武
                        汉分公司，并逐渐获得
                        市场的认可
                    </div>
                </div>
                <div class="img">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="three-content-box right">
                <div class="img">
                    <div class="circle"></div>
                    <div class="line"></div>
                </div>
                <div class="box">
                    <div class="box-year">2016-至今</div>
                    <div class="box-br"></div>
                    <div class="box-text">
                        民众投顾为进一步开拓
                        投顾业务的市场，成立
                        了合肥、广州、长沙等
                        分公司，将业务的版图
                        进一步扩大
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="four">
        <div class="title">专业团队</div>
        <div class="double-line"></div>
        <div class="four-content">
            <img class="four-content-img" src="/assets/home_mobile/image/common_au_team_zy.png" />
            <img class="four-content-img" src="/assets/home_mobile/image/common_au_team_gx.png" />
            <img class="four-content-img" src="/assets/home_mobile/image/common_au_team_qw.png" />
            <img class="four-content-img" src="/assets/home_mobile/image/common_au_team_tx.png" />
            <img class="four-content-img" src="/assets/home_mobile/image/common_au_team_gjd.png" />
            <img class="four-content-img" src="/assets/home_mobile/image/common_au_team_sty.png" />
        </div>
    </div>

    <div class="five">
        <div class="title">企业资质</div>
        <div class="double-line"></div>
        <div class="five-content">

            <div class="five-content-box">
                <div class="five-content-box-img"></div>
                <span class="five-content-box-span">网站备案信息</span>
            </div>

            <div class="five-content-wrap">
                <div class="five-content-box-small">
                    <div class="five-content-box-small-img yxxkz"></div>
                    <span class="five-content-box-small-span">营业许可证</span>
                </div>
                <div class="five-content-box-small">
                    <div class="five-content-box-small-img xywzrz"></div>
                    <span class="five-content-box-small-span">信用网站认证</span>
                </div>
                <div class="five-content-box-small">
                    <div class="five-content-box-small-img yyzz"></div>
                    <span class="five-content-box-small-span">营业执照</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
@@include('common/foot.html')
<script>

</script>
