<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title>如何理解我国证券投资基金的投资行为</title>
    <link rel="stylesheet" href="/assets/home_mobile/css/article.css">
</head>
<body>
@@include('common/header.html')

<div class="container">
    <div class="article">
        <div class="article-head">
            <div class="article-head-title">如何理解我国证券投资基金的投资行为?</div>
            <div class="article-head-sub">
                <span>2018-07-31 23:53</span>
                <span class="line">丨</span>
                <span>作者: 博览资讯</span>
                <span class="line">丨</span>
                <span>来源: 博览资讯</span>
            </div>
        </div>
        <div class="article-content">
            <p>
                近期市场成长蓝筹风格频换，风险偏好温和下行，这
                为主题投资升温创造条件。上周来，海南、创新药、
                自贸区、北斗、国企改革等一系列主题概念争奇斗艳，
                轮番吸引资金参与布局。市场人士认为，当前通胀预
                期缓解，经济温和放缓，缺乏确定性增长主线下，主
                题投资短期窗口已打开，有望持续成为投资者发力的
                重要主线。
            </p>

            <p>
                4月来，包括宏观数据、贸易摩擦、无风险利率回升
                预期升温等因素集中发酵，刺激市场风险集中度阶段
                性下行。前期创业板站上1900点，相对主板走出独
                立行情，及中美贸易摩擦一波三折，则充当市场下行
                的导火索。4月1日-12日，主要指数中，除沪综指
                出现小幅上涨，中小板、深成指、创业板悉数下跌。
                以回落调整为主的格局中，资金的犹豫之色也越发凝
                重，这在创业板身上表现的尤为明显。从4月2日单
                日1295.20亿元成交高位，到4月12日不足900亿
                元，创业板交投活跃度大幅下降，场内赚钱效应也随
                之迅速收窄。与热点轮动加快，做多主线模糊相对应
                的是，上周来大小盘股“跷跷板”的结构性行情并未
                得到扭转，只不过在不确定因素引发的谨慎情绪中左
                右摇摆，尤其场内游资反复高抛低吸，在周期成长之
                间来回倒腾，令短期市场风格莫衷一是。
            </p>

            <p>
                当前，贸易摩擦的风险尚在“门外”，未来是否会进
                一步发酵等限制市场整体性机会出现的可能，同时造
                成市场波动率的加大。万联证券指出，经历前期分化
                反弹后，各市场参与者预期有所变化，利空的弹性在
                不断增强。高获利盘背景下，偏向成长风格的行情需
                要更加坚实的逻辑基础，短期看还难以对此进行证实。
                成长行情暂时进入休整期，等待各因素变化。上有担
                忧，下有支撑（A股整体估值与业绩，且沪指绝对点
                位不高）之下，市场将进入一段时间的观望期。个股
                机会会明显减少。在一轮改革的红利激发下，具有价
                值发现功能的股市，有望迎来一轮新的主题热潮。
            </p>

            <p>
                从交易角度看，分析人士认为，在市场表现波动性高
                且情绪偏低的情况下，关注价值龙头和基本面并重不
                失为防守待情绪提振的良策。具体方向上，近期国企
                改革、“独角兽”为主题中表现突出的板块，市场对
                主题的热情仍在新兴产业方向上。随着年报及一季报
                的陆续公布，及接下来市场的避险情绪较重，市场对
                创业板相关主题的关注度预计将下降。这也意味尽管
                前景值得期待，但主题热点的表现方式大概率以较温
                和的方式呈现，而非一拥而上出现爆发式上涨。
            </p>
        </div>
    </div>

    <nav>
        <a href="#" class="link">上一篇:如何看待资产证券化风险？</a>
        <a href="#" class="link">下一篇:什么是证券的定义与特征？</a>
    </nav>
</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
