<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title>如何理解我国证券投资基金的投资行为</title>
    <link rel="stylesheet" href="/assets/home_mobile/css/edu_risk.css">
</head>
<body>
@@include('common/header.html')

<div class="container">
    <div class="edu_risk">
        <nav>
            <div class="show">
                <div class="show-text">
                    打击非法证券活动
                </div>
            </div>
            <div class="ul">
                <a href="#" class="li select">打击非法证券活动</a>
                <a href="#" class="li">风险揭示书公示</a>
                <a href="#" class="li">警惕互联网非法荐股</a>
            </div>
        </nav>

        <div class="cover">

        </div>

        <p>
            Creating a clear map of where the project is going is an important first step.
            创建项目进展的清晰地图是重要的第一步。

            It lets you identify risks, clarify objectives, an determine if the project even makes sense.
            它可以让你识别风险，澄清目标，并确定项目是否有意义。

            The only thing more important than the Release Plan is not to take it too seriously.
            唯一比发布计划更重要的是不要太认真。

            Release planning is creating a game plan for your Web project （71）what you think you want your Web site to be.
            发布计划正在为您的Web项目创建一个游戏计划（71）您认为您希望自己的网站是什么。

            The plan is guide for the content, design elements, and functionality of a Web site to be released to the public, to partners, or internally.
            该计划是向公众，合作伙伴或内部发布的网站的内容，设计元素和功能的指导。

            It also （72）how long the project will take and how much it will cost.
            它也（72）项目需要多长时间，花多少钱。

            What the plan is not is a functional （73）that defines the project in detail or that produces a budget you can take to the bank.
            这个计划不是一个功能性的（73），它详细定义了项目或者产生了一个可以带到银行的预算。

            Basically you use a Release Plan to do an initial sanity check of the project's （74）and worthiness.
            基本上你使用一个发布计划对项目（74）进行初步的健全性检查并且有价值。

            Release Plans are useful road maps, but don't think of them as guides to the interstate road system.
            发布计划是有用的路线图，但不要将它们视为州际公路系统的指南。

            Instead, think of them as the （75）used by early explorers-half rumor and guess and half hope and expectation.
            反，把它们想象成早期探险家所使用的（75） - 半条传言和猜测，半条希望和期望。

            It's always a good idea to have a map of where a project is headed.
            有一个项目的目标地图是一个好主意。

            D（71）A. constructing B. designing C. implementing D. outlining
            C（72）A. defines B. calculates C. estimates D. knows
            A（73）A. specification B. structure C. requirement D. implementation
            C（74）A. correctness B. modifiability C. feasibility D. traceability
            C（75）A. navigators B. maps C. guidances D. goals
        </p>
        <P>



        </P>
    </div>


</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script>
  $(function () {
    $('.show-text').click(function () {
      $('.ul').toggleClass('active');
      $('.cover').toggle();
    })
  })
</script>
