<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title>市场继续强势反弹</title>
    <link rel="stylesheet" href="/assets/home_mobile/css/finance_detail.css">
</head>
<body>
@@include('common/header.html')

<div class="container">
    <div class="finance">
        <video class="finance-video" src="" controls></video>
        <div class="finance-info">
            <div class="finance-info-title">市场继续强势反弹</div>
            <div class="finance-info-time">04-23</div>
        </div>
    </div>
</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
