<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title>主题博弈</title>
    <link rel="stylesheet" href="/assets/home_mobile/css/information_game.css">
</head>
<body>
@@include('common/header.html')

<div class="container">
    <div class="container-head">主题博弈</div>
    <div class="container-ul">
        <a href="#" class="container-li">
            <img class="li-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
        </a>
        <a href="#" class="container-li">
            <img class="li-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
        </a>
        <a href="#" class="container-li">
            <img class="li-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
        </a>
        <a href="#" class="container-li">
            <img class="li-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
        </a>
        <a href="#" class="container-li">
            <img class="li-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
        </a>
        <a href="#" class="container-li">
            <img class="li-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
        </a>
    </div>
    <div class="load-more">
        查看更多
    </div>
</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script>
  var loadMore = $('.load-more');
  var ul = $('.container-ul');

  /*test*/
  var testStr = ul.html();

  loadMore.on('click', function () {
    loadMore.html('加载中。。。。');

    $.ajax('/assets/home_mobile/test/test.json', {
      success: function () {
        ul.append(
          testStr
        )
        loadMore.html('查看更多');
      },
      error: function () {
        loadMore.html('网络错误');
        setTimeout(function () {
          loadMore.html('点击重试')
        }, 1000)
      }
    })
  })
</script>
