<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title><?php echo $tdk['seo_t']; ?></title>
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_mobile/css/information_index.css">
</head>
<body>
@@include('common/header.html')

<div class="container">

    <img class="information-banner" src="/assets/home_mobile/image/pic_mzzx_banner.jpg"/>

    <div class="information-head">
        <div class="information-head-nav active">资讯动态</div>
        <div class="information-head-nav">投资观点</div>
        <div class="information-head-nav">今日头条</div>
    </div>

    <div class="information-contents">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!--资讯动态-->
                <div class="swiper-slide">
                    <div class="content-title">
                        <div class="content-title-text">资讯动态</div>
                        <a href="#" class="content-title-more">
                            更多>
                        </a>
                    </div>
                    <a href="#content-main" class="content-main">
                        <div class="content-main-title">
                            <div class="content-main-title-date">
                                <div class="content-main-title-date-month">04</div>
                                <div class="content-main-title-date-day">25</div>
                            </div>
                            <div class="content-main-title-text">
                                商务部力挺反倾销，钢铁板块错杀修复商务部力挺反倾销，钢铁板块错杀修复
                            </div>
                        </div>
                        <div class="content-main-text">
                            基于大金融流动性预期实质性改善，后期对整个金融衍生链条都值得重视。此前由于流动性环境较差，金融、地产、中字头、基建善，后期对整个金融衍生链条都值得重视。此前由于流动性环境较差，金融、地产、中字头、基建
                        </div>
                    </a>
                    <ul class="content-ul">
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--投资观点-->
                <div class="swiper-slide">
                    <div class="content-title">
                        <div class="content-title-text">投资观点</div>
                        <a href="#" class="content-title-more">
                            更多>
                        </a>
                    </div>
                    <a href="#content-main" class="content-main">
                        <div class="content-main-title">
                            <div class="content-main-title-date">
                                <div class="content-main-title-date-month">04</div>
                                <div class="content-main-title-date-day">25</div>
                            </div>
                            <div class="content-main-title-text">
                                商务部力挺反倾销，钢铁板块错杀修复商务部力挺反倾销，钢铁板块错杀修复
                            </div>
                        </div>
                        <div class="content-main-text">
                            基于大金融流动性预期实质性改善，后期对整个金融衍生链条都值得重视。此前由于流动性环境较差，金融、地产、中字头、基建善，后期对整个金融衍生链条都值得重视。此前由于流动性环境较差，金融、地产、中字头、基建
                        </div>
                    </a>
                    <ul class="content-ul">
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--今日头条-->
                <div class="swiper-slide">
                    <div class="content-title">
                        <div class="content-title-text">今日头条</div>
                        <a href="#" class="content-title-more">
                            更多>
                        </a>
                    </div>
                    <a href="#content-main" class="content-main">
                        <div class="content-main-title">
                            <div class="content-main-title-date">
                                <div class="content-main-title-date-month">04</div>
                                <div class="content-main-title-date-day">25</div>
                            </div>
                            <div class="content-main-title-text">
                                商务部力挺反倾销，钢铁板块错杀修复商务部力挺反倾销，钢铁板块错杀修复
                            </div>
                        </div>
                        <div class="content-main-text">
                            基于大金融流动性预期实质性改善，后期对整个金融衍生链条都值得重视。此前由于流动性环境较差，金融、地产、中字头、基建善，后期对整个金融衍生链条都值得重视。此前由于流动性环境较差，金融、地产、中字头、基建
                        </div>
                    </a>
                    <ul class="content-ul">
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                        <li class="content-ul-li">
                            <a href="#" class="content-ul-li-link">
                                <div class="content-ul-li-time">
                                    2018/04/25
                                </div>
                                <div class="content-ul-li-text">
                                    行业现明显供给端压缩，白羽鸡产业链业现明显供给端压缩，白羽鸡产业链
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--策略纪要-->
    <div class="strategic-summary">
        <div class="strategic-summary-title">
            <div class="strategic-summary-title-text">策略纪要</div>
            <div class="strategic-summary-title-more">更多></div>
        </div>
        <div class="strategic-summary-content">
            <ul class="strategic-summary-content-ul">
                <li class="strategic-summary-content-ul-li">
                    <a href="#" class="strategic-summary-content-ul-li-link">
                        <img class="li-img" src="/assets/home_mobile/test/民众内参.png"/>
                        <div class="li-info">
                            <div class="li-info-title">
                                鹏欣资源：全力推进钴生产线建设鹏欣资源：全力推进钴生产线建设鹏欣资源：全力推进钴生产线建设
                            </div>
                            <div class="li-info-time">
                                2018-03-26
                            </div>
                        </div>
                    </a>
                </li>
                <li class="strategic-summary-content-ul-li">
                    <a href="#" class="strategic-summary-content-ul-li-link">
                        <img class="li-img" src="/assets/home_mobile/test/民众内参.png"/>
                        <div class="li-info">
                            <div class="li-info-title">
                                鹏欣资源：全力推进钴生产线建设
                            </div>
                            <div class="li-info-time">
                                2018-03-26
                            </div>
                        </div>
                    </a>
                </li>
                <li class="strategic-summary-content-ul-li">
                    <a href="#" class="strategic-summary-content-ul-li-link">
                        <img class="li-img" src="/assets/home_mobile/test/民众内参.png"/>
                        <div class="li-info">
                            <div class="li-info-title">
                                鹏欣资源：全力推进钴生产线建设
                            </div>
                            <div class="li-info-time">
                                2018-03-26
                            </div>
                        </div>
                    </a>
                </li>
                <li class="strategic-summary-content-ul-li">
                    <a href="#" class="strategic-summary-content-ul-li-link">
                        <img class="li-img" src="/assets/home_mobile/test/民众内参.png"/>
                        <div class="li-info">
                            <div class="li-info-title">
                                鹏欣资源：全力推进钴生产线建设
                            </div>
                            <div class="li-info-time">
                                2018-03-26
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--主体博弈-->
    <div class="game">
        <div class="game-title">
            <div class="strategic-summary-title-text">主体博弈</div>
            <a href="#" class="strategic-summary-title-more">更多></a>
        </div>
        <div class="game-content">
            <a href="#" class="game-content-link">
                <img class="game-content-link-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
            </a>
            <a href="#" class="game-content-link">
                <img class="game-content-link-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
            </a>
            <a href="#" class="game-content-link">
                <img class="game-content-link-img" src="/assets/home_mobile/test/民众头条_1.png" alt="">
            </a>
        </div>
    </div>
</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script src="/assets/home_new/public/swiper.min.js"></script>
<script>
  $(function () {

    /*容易导致内存泄漏，后期再改*/
    (function(){
      var informationNavs = $('.information-head-nav');

      var informationSwiper = new Swiper('.swiper-container',{
        on:{
          slideChange:function(){
            var hint = informationNavs.eq(this.activeIndex);
            hint.siblings().removeClass('active');
            hint.addClass('active');
          }
        }
      });

      informationNavs.click(function(e){
        var $this = $(e.target);
        if($this.hasClass('active')) return false;

        var index = $this.index();
        informationSwiper.slideTo(index);
      });
    })();

  });
</script>
