<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title><?php echo $tdk['seo_t']; ?></title>
    <link rel="stylesheet" href="/assets/home_mobile/css/learn_index.css">
</head>
<body>
@@include('common/header.html')

<div class="container">

    <div class="learn-head">
        <a href="#" class="learn-head-nav active">适当性管理</a>
        <a href="#" class="learn-head-nav">打击违法证券活动</a>
        <a href="#" class="learn-head-nav">政策法规</a>
        <a href="#" class="learn-head-nav">投诉建议</a>
    </div>

    <div class="learn-content">
        <div class="content-title">
            适当性
        </div>
        <ul class="content-ul">
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
            <li class="content-ul-li">
                <a class="content-ul-li-link" href="#">
                    <div class="content-ul-li-title">关于发布《深圳证券交易所上市公司创业投资》于发布《深圳证券交易所上市</div>
                    <div class="content-ul-li-time">2018-03-26</div>
                </a>
            </li>
        </ul>
        <div class="load-more">
            查看更多
        </div>
    </div>

</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script>
  var loadMore = $('.load-more');
  var ul = $('.content-ul');

    /*test*/
  var testStr = ul.html();

  loadMore.on('click', function () {
    loadMore.html('加载中。。。。');

    $.ajax('/assets/home_mobile/test/test.json', {
      success: function () {
        ul.append(
          testStr
        )
        loadMore.html('查看更多');
      },
      error: function () {
        loadMore.html('网络错误');
        setTimeout(function () {
          loadMore.html('点击重试')
        }, 1000)
      }
    })


  })
</script>
