<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title>产品中心</title>
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_mobile/css/product_index.css">
</head>
<body>
@@include('common/header.html')

<div class="container">

    <!--banner-->
    <img class="banner" src="/assets/home_mobile/image/pic_cpzx_banner.jpg"/>

    <!--案例回顾-->
    <div class="title1">
        案例回顾
    </div>
    <!--案例回顾-swiper-->
    <div class="tab">
        <div class="tab-head">
            <div class="tab-head-nav active">短线宝</div>
            <div class="tab-head-nav">民众操盘</div>
            <div class="tab-head-nav">民众研究</div>
        </div>

        <div class="tab-wrap">
            <div id="duan_xian_bao" class="tab-content active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">短线宝</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="min_zhong_cao_pan" class="tab-content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">民众操盘</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="min_zhong_yan_jiu" class="tab-content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">民众研究</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="box-title">强势优选</div>
                                <div class="box-chart">15.46%</div>
                                <div class="box-sub">五日最高涨幅</div>
                                <div class="box-detail">
                                    <div class="box-detail-data">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="box-detail-stock">
                                        推荐标的: 海汽集团（603069）
                                    </div>
                                    <div class="box-detail-state">
                                        状态: 已结案
                                    </div>
                                    <div class="box-detail-compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a class="box-link">查看案例图</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-info">
            上述个股统计为阶段性统计，过往战绩不代表未来收 益，更多战绩请联系投顾助理查看
        </div>
    </div>

    <!--短线宝-->
    <div class="product">
        <div class="product-title">
            短线宝
            <span class="product-sub">
                //专注短线博弈机会//
            </span>
        </div>
        <div class="product-content">
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
        </div>
    </div>

    <!--短线宝-->
    <div class="product">
        <div class="product-title">
            短线宝
            <span class="product-sub">
                //专注短线博弈机会//
            </span>
        </div>
        <div class="product-content">
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
        </div>
    </div>

    <!--短线宝-->
    <div class="product">
        <div class="product-title">
            短线宝
            <span class="product-sub">
                //专注短线博弈机会//
            </span>
        </div>
        <div class="product-content">
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
            <a class="product-box">
                <img src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" class="box-img" />
                <div class="box-info">
                    <div class="box-title">
                        <span class="box-title-main">短线掘金</span>
                        <span class="box-title-sub">聚焦市场热点，抓涨大牛股</span>
                    </div>

                    <span class="box-price">
                        价格：<span class="price">2980元/90天</span>
                    </span>
                </div>
            </a>
        </div>
    </div>

    <!--私人订制-->
    <div class="product">
        <div class="product-title">
            私人订制
            <div class="product-sub">
                //专注打造只属于你的投资策略//
            </div>
        </div>

        <div class="product-banner">
            <img src="/assets/home_mobile/image/pic_cpzx_srdz.jpg" class="banner-img" />
        </div>
    </div>

    <!--主体活动-->
    <div class="product">
        <a href="" class="product-title">
            主体活动
        </a>

        <a href="" class="product-banner">
            <img src="/assets/home_mobile/image/pic_cpzx_hd.jpg" class="banner-img" />
        </a>
    </div>
</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script src="/assets/home_new/public/swiper.min.js"></script>
<script>
  function Tab(obj) {
    this.$navs = obj.$navs;
    this.$content = obj.$content;
    this.activeClass = obj.activeClass;
    this.swipers = obj.swipers;

    this.show = this.show.bind(this)
    this.bind();
  }

  Tab.prototype = {

    show: function (e) {
      var target = $(e.target);

      if(target.hasClass(this.activeClass)){
        return false;
      }
      else{
        var index = $(e.target).index();
        this.$navs.removeClass(this.activeClass).eq(index).addClass(this.activeClass);
        this.$content.removeClass(this.activeClass).eq(index).addClass(this.activeClass);
        this.swipers[index].update();
      }
    },

    bind: function () {
      this.$navs.on('click', this.show)
    }
  }

  $(function () {
    var DUAN_XIAN_BAO_SWIPER;
    var MIN_ZHONG_CAO_PAN_SWIPER;
    var MIN_ZHONG_YAN_JIU_SWIPER;
    var ReviewTab;

    function init() {
      DUAN_XIAN_BAO_SWIPER = new Swiper('#duan_xian_bao>.swiper-container', {
        effect: 'coverflow',
        coverflowEffect: {
          rotate: 30,
          stretch: 10,
          depth: 60,
          modifier: 2,
          slideShadows: true
        }
      });
      MIN_ZHONG_CAO_PAN_SWIPER = new Swiper('#min_zhong_cao_pan>.swiper-container', {
        effect: 'coverflow',
        coverflowEffect: {
          rotate: 30,
          stretch: 10,
          depth: 60,
          modifier: 2,
          slideShadows: true
        }
      });
      MIN_ZHONG_YAN_JIU_SWIPER = new Swiper('#min_zhong_yan_jiu>.swiper-container', {
        effect: 'coverflow',
        coverflowEffect: {
          rotate: 30,
          stretch: 10,
          depth: 60,
          modifier: 2,
          slideShadows: true
        }
      });
      ReviewTab = new Tab({
        $navs: $('.tab-head-nav'),
        $content: $('.tab-content'),
        activeClass: 'active',
        swipers: [DUAN_XIAN_BAO_SWIPER, MIN_ZHONG_CAO_PAN_SWIPER, MIN_ZHONG_YAN_JIU_SWIPER]
      })
    }

    init()
  })
</script>
