<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title><?php echo $tdk['seo_t']; ?></title>
    <link rel="stylesheet" href="/assets/home_mobile/css/product_detail.css">
</head>
<body>
@@include('common/header.html')

<div class="container">

    <div class="product-head">
        <img class="product-head-img" src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png"/>
        <div class="product-head-title">
            <div class="product-head-title-left">民众研究·估值聚焦</div>
            <div class="product-head-title-right">36800元/90天</div>
        </div>
        <div class="product-head-text">
            以宏观经济运营情况、行业现状及发展趋势、上市公司基本面这三
            个维度来分析确立基本股票池，再从估值角度出发来挖掘低估值的
            标的个股。
        </div>
    </div>

    <div class="product-content">
        <p>
            <img src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387316609891.jpg" title="1534387316609891.jpg"
                 alt="pic_dxb_qsyx_01.jpg">
            <img src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387346622487.jpg"
                 title="1534387346622487.jpg" alt="pic_dxb_qsyx_02.jpg">
            <img
                    src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387351779681.jpg" title="1534387351779681.jpg"
                    alt="pic_dxb_qsyx_03.jpg">
            <img src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387396465127.jpg"
                 title="1534387396465127.jpg" alt="pic_dxb_qsyx_04.jpg">
            <img
                    src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387404789875.jpg" title="1534387404789875.jpg"
                    alt="pic_dxb_qsyx_05.jpg">
            <img src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387409901953.jpg"
                 title="1534387409901953.jpg" alt="pic_dxb_qsyx_06.jpg">
            <img
                    src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180807/1533635769225019.jpg" title="1533635769225019.jpg"
                    alt="pic_dxb_qsyx_07.jpg">
            <img src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387420269378.jpg"
                 title="1534387420269378.jpg" alt="pic_dxb_qsyx_08.jpg">
            <img
                    src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387424215008.jpg" title="1534387424215008.jpg"
                    alt="pic_dxb_qsyx_09.jpg">
            <img src="http://zhangwenjun.jyzqsz.com/ueditor/php/upload/image/20180816/1534387427283104.jpg"
                 title="1534387427283104.jpg" alt="pic_dxb_qsyx_10.jpg">
        </p>
    </div>

</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script>

</script>
