<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title>首页</title>
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_mobile/css/team_index.css">
</head>
<body>
@@include('common/header.html')


<div class="container">

    <!--投顾团队-->
    <div class="feature">
        <div class="feature-box">
            <img class="box-img" src="/assets/home_mobile/image/icon_team_jp.png"/>
            <p class="box-title">
                金牌投顾
            </p>
            <div class="box-line"></div>
            <span class="box-text">
                民众投顾汇聚了行业内众多
                一线知名金融大咖，涵盖了
                湖北卫视《天生阿财》的常
                驻嘉宾、第一财经《今日股
                市》的特邀嘉宾、深圳财经
                频道的特邀嘉宾等，用专业
                权威的投资理念、投资方法
                引领投资者理性投资。
            </span>
        </div>
        <div class="feature-box">
            <img class="box-img" src="/assets/home_mobile/image/icon_team_td.png"/>
            <p class="box-title">
                金牌投顾
            </p>
            <div class="box-line"></div>
            <span class="box-text">
                民众投顾汇聚了行业内众多
                一线知名金融大咖，涵盖了
                湖北卫视《天生阿财》的常
                驻嘉宾、第一财经《今日股
                市》的特邀嘉宾、深圳财经
                频道的特邀嘉宾等，用专业
                权威的投资理念、投资方法
                引领投资者理性投资。
            </span>
        </div>
        <div class="feature-box">
            <img class="box-img" src="/assets/home_mobile/image/icon_team_cl.png"/>
            <p class="box-title">
                金牌投顾
            </p>
            <div class="box-line"></div>
            <span class="box-text">
                民众投顾汇聚了行业内众多
                一线知名金融大咖，涵盖了
                湖北卫视《天生阿财》的常
                驻嘉宾、第一财经《今日股
                市》的特邀嘉宾、深圳财经
                频道的特邀嘉宾等，用专业
                权威的投资理念、投资方法
                引领投资者理性投资。
            </span>
        </div>
    </div>

    <!--团队的Swiper-->
    <div class="team">
        <div class="team-head">
            <div class="team-head-nav active">强势优选团队</div>
            <div class="team-head-nav">量化主升团队</div>
            <div class="team-head-nav">牛眼主升团队</div>
        </div>


        <div class="swiper-container" id="teamContents">
            <div class="swiper-wrapper">
                <!--强势优选团队-->
                <div class="swiper-slide">
                    <div class="team-content">
                        <img class="team-banner" src="/assets/home_mobile/image/pic_mztg_tdxx_w.jpg"/>
                        <img class="team-members" src="/assets/home_mobile/image/pic_mztg_tdxx_r.jpg"/>

                        <div class="team-title">团队领军人物</div>

                        <!--团队成员-->
                        <div class="members">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <!--成员主要图片展示-->
                        <div class="swiper-container member-main">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="team-content">
                        <img class="team-banner" src="/assets/home_mobile/image/pic_mztg_tdxx_w.jpg"/>
                        <img class="team-members" src="/assets/home_mobile/image/pic_mztg_tdxx_r.jpg"/>

                        <div class="team-title">团队领军人物</div>

                        <!--团队成员-->
                        <div class="members">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <!--成员主要图片展示-->
                        <div class="swiper-container member-main">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="team-content">
                        <img class="team-banner" src="/assets/home_mobile/image/pic_mztg_tdxx_w.jpg"/>
                        <img class="team-members" src="/assets/home_mobile/image/pic_mztg_tdxx_r.jpg"/>

                        <div class="team-title">团队领军人物</div>

                        <!--团队成员-->
                        <div class="members">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="member-box">
                                            <img class="box-img"
                                                 src="http://zhangwenjun.jyzqsz.com/upload/team_member/1533636085_主页_照片易文斌.png"/>
                                            <div class="box-title">董齐安</div>
                                            <div class="box-line">/</div>
                                            <div class="box-number">A0770617010001</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                        <!--成员主要图片展示-->
                        <div class="swiper-container member-main">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                                <div class="swiper-slide">
                                    <img class="member-main-img"
                                         src="http://zhangwenjun.jyzqsz.com/upload/team_member/1527840188_团队个人包装易文斌.png"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script src="/assets/home_new/public/swiper.min.js"></script>
<script>

  function Team(obj) {
    this.teamHead = obj.teamHead;
    this.teamHeadActive = obj.teamHeadActive;
    this.teamContainer = obj.teamContainer;

    this.membersContainer = obj.membersContainer;
    this.membersOpt = obj.membersOpt;
    this.membersPagination = obj.membersPagination;

    this.mainMemberContainer = obj.mainMemberContainer;


    this.initContainer();
    this.initTeam();

    this.containerBind();
  }
  Team.prototype = {

    initContainer: function () {
      this.teams = new Swiper(this.teamContainer, {
        allowTouchMove: false
      });

      this.teamLength = this.teams.slides.length;
      this.MEMBER_SWIPER = new Array(this.teamLength);
      this.MAIN_SWIPER = new Array(this.teamLength);
    },

    initTeam: function () {
      for (var i = 0; i < this.teamLength; i++) {
        var teamContainer = this.teams.slides.eq(i);
        var opt = Object.assign(this.membersOpt, {
          pagination: {
            el: teamContainer.find(this.membersPagination)
          }
        })

        this.MEMBER_SWIPER[i] = new Swiper(teamContainer.find(this.membersContainer), opt);
        this.MAIN_SWIPER[i] = new Swiper(teamContainer.find(this.mainMemberContainer), {
          allowTouchMove: false
        });

        this.memberBind(this.MEMBER_SWIPER[i], this.MAIN_SWIPER[i])
      }
    },

    containerBind: function () {
      $(this.teamHead).on('click', this.containerHandler.bind(this));

    },

    memberBind: function (memberSwiper, mainSwiper) {
      memberSwiper.slides.on('click', function () {
        var index = $(this).index();
        mainSwiper.slideTo(index)
      })
    },

    containerHandler: function (e) {
      var $this = $(e.target);
      if ($this.hasClass(this.teamHeadActive)) return false;

      var index = $this.index();
      $this.siblings().removeClass(this.teamHeadActive)
      $this.addClass(this.teamHeadActive);
      this.teams.slideTo(index);
    }
  }

  $(function () {

    var team = new Team({
      teamContainer: '#teamContents',
      teamHead: '.team-head-nav',
      teamHeadActive: 'active',
      membersContainer: '.members>.swiper-container',
      membersOpt: {
        slidesPerView: 3,
        slidesPerGroup: 3,
        pagination: {
          el: '.members>.swiper-pagination'
        }
      },
      membersPagination: '.members>.swiper-pagination',
      mainMemberContainer: '.member-main'
    })
  })
</script>
