<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title>如何理解我国证券投资基金的投资行为</title>
    <link rel="stylesheet" href="/assets/home_mobile/css/terms.css">
</head>
<body>
@@include('common/header.html')

<div class="container">
    <div class="terms">
        <nav>
            <div class="show">
                <div class="show-text">
                    风险提示
                </div>
            </div>
            <div class="ul">
                <a href="#" class="li select">风险提示</a>
                <a href="#" class="li">免责声明</a>
                <a href="#" class="li">公司简介</a>
                <a href="#" class="li">企业文化</a>
                <a href="#" class="li">企业资质</a>
                <a href="#" class="li">联系我们</a>
                <a href="#" class="li">关于我们</a>
                <a href="#" class="li">网站地图</a>
            </div>
        </nav>

        <div class="cover">

        </div>
    </div>


</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script>
    $(function(){
      $('.show-text').click(function(){
        $('.ul').toggleClass('active');
        $('.cover').toggle();
      })
    })
</script>
