<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @@include('common/head.html',{
    "psd":"750",
    "px":"100"
    })
    <title>如何理解我国证券投资基金的投资行为</title>
    <link rel="stylesheet" href="/assets/home_mobile/css/terms.css">
</head>
<body>
@@include('common/header.html')

<div class="container">
    <div class="terms">
        <nav>
            <div class="show">
                <div class="show-text">
                    风险提示
                </div>
            </div>
            <div class="ul">
                <a href="#" class="li">风险提示</a>
                <a href="#" class="li">免责声明</a>
                <a href="#" class="li">公司简介</a>
                <a href="#" class="li">企业文化</a>
                <a href="#" class="li">企业资质</a>
                <a href="#" class="li">联系我们</a>
                <a href="#" class="li">关于我们</a>
                <a href="#" class="li select">网站地图</a>
            </div>
        </nav>

        <div class="terms-title">
            风险提示书
        </div>
        <div class="terms-content">
            <p>1、按照《证券投资顾问业务暂行规定》的要求，以
                软件工具、终端设备等为载体，向客户提供投资建议
                或者类似功能服务的，应当执行《证券投资顾问业务
                暂行规定》。 本产品与证券咨询和投资顾问相关的内容
                由民众证券投资咨询有限公司提供以软件工具、终端
                设备等为载体本产品与证券投资咨询和投资顾问相关
                内容的服务。民众证券投资咨询有限公司是中国证监
                会核准的证券投资咨询专业机构（证券咨询资格证书
                编号：ZX0075），具备提供证券投资咨询服务的必要
                条件和专业能力，公司提供相关证券投资顾问服务的
                人员具备证券投资咨询执业资格并已经注册登记为证
                券投资顾问。</p>
            <p>2、证券投资顾问业务，是证券投资咨询业务的一种
                基本形式，指证券公司、证券投资咨询机构接受客户
                委托，按照约定，向客户提供涉及证券及证券相关产
                品的投资建议服务，辅助客户作出投资决策，并直接
                或者间接获取经济利益的经营活动。投资建议服务内
                容包括投资的品种选择、投资组合以及理财规划建议
                等。客户在接受证券投资顾问服务后需自主作出投资
                决策并独立承担投资风险。</p>
            <p>3、本产品提供的证券投资咨询业务和投资顾问相关
                的内容主要包括：研究报告，实时解盘，依据技术指
                标的交易系统和选股模型，依据数据模型的选股方法
                等。并通过产品的文字，指标，交易系统，选股结果
                等方式显示。您在接受本产品前，必须仔细阅读相关
                说明书、了解其实际功能、信息来源、固有缺陷和使
                用风险。由于您自身原因导致该软件工具、终端设备
                等使用不当或受到病毒入侵、黑客攻击等不良影响的，
                您将不得不承担由此造成的损失。本产品中具有选择
                证券投资品种或者提示买卖时机功能的，会向您介绍
                其方法和局限。本产品如有提供买入、卖出建议、股
                票池等投资建议，仅供您参考，不能确保您获得盈利
                或本金不受损失。您应基于独立的判断，自行决定证
                券投资并承担投资损失。</p>
            <p>4、本产品提供的投资建议具有针对性和时效性，不
                是在任何市场环境下长期有效。</p>
            <p>5、作为投资建议依据的证券研究报告和投资分析意
                见等，可能存在不准确、不全面或者被误读的风险，
                您可以向民众证券投资咨询有限公司了解证券研究报
                告的发布人和发布时间以及投资分析意见的来源，以
                便在进行投资决策时作出理性判断。</p>
            <p>6、民众证券投资咨询有限公司会向您介绍证券投资
                顾问服务的收费标准和方式，按照公平、合理、自愿
                的原则与您协商并书面约定收取证券投资顾问服务费
                用的安排。证券投资顾问服务收费切勿向证券投资顾
                问人员或其他个人账户支付。</p>
            <p>7、民众证券投资咨询有限公司及其子公司 任何员工
                给予您的保证获利或不会发生亏损的任何承诺都是没
                有根据的，类似的承诺不会减少您发生亏损的可能。
                民众证券投资咨询有限公司严格禁止其员工向您做出
                类似承诺，如若发生，纯属个人行为，民众证券投资
                咨询有限公司不承担任何责任。另外如果您发现投资
                顾问存在违法违规行为或利益冲突情形，如泄露您投
                资决策计划、传播虚假信息、进行关联交易等，为保
                证您的权益，您有权向民众证券投资咨询有限公司投
                诉或向有关部门举报。</p>
            <p>8、民众证券投资咨询有限公司存在因停业、解散、
                撤销、破产，或者被中国证监会撤销相关业务许可、
                责令停业整顿等原因导致不能履行职责的风险。民众
                证券投资咨询有限公司的投资顾问人员存在因离职、
                离岗等原因导致更换投资顾问服务人员并影响服务连
                续性的风险。</p>
            <p>9、作为客户，您应向民众证券投资咨询有限公司说
                明您自身的资产与收入状况、投资经验、投资需求和
                风险偏好等情况并接受评估，以便于民众证券投资咨
                询有限公司根据您的风险承受能力和服务需求，向您
                提供适当的证券投资顾问服务。同时，您应向民众证
                券投资咨询有限公司提供有效的联系方式和服务获取
                方式，如有变动须及时向民众证券投资咨询有限公司
                进行说明，如因您自身原因或不可抗力因素导致您未
                能及时获取证券投资顾问服务，责任将不得不由您自
                行承担。</p>
            <p>
                10、在接受证券投资顾问服务时，您应保管好自己的
                证券账户、资金账户和相应的密码，不要委托证券投
                资顾问人员管理您的证券账户、资金账户，代理买卖
                证券，否则由此导致的风险将由您自行承担。
            </p>
            <p>
                11、由于您未能如实填写《用户调查表》所造成的一
                切后果，将由您自行承担。
            </p>

            <p style="font-weight: bold">
                特别提示：本风险提示书的揭示事项仅为列举性质，
                未能详尽列明投资者接受证券投资顾问服务所面临的
                全部风险和可能导致投资者投资损失的所有因素。投
                资者在接受证券投资顾问服务前，应认真阅读并理解
                相关业务规则、证券投资顾问服务协议及本风险提示
                书的全部内容。接受证券投资顾问服务的投资者，自
                行承担投资风险，证券投资咨询机构不以任何方式向
                投资者作出不受损失或者取得最低收益的承诺。
            </p>
            <p style="font-weight: bold">
                特别提示：投资者签署本风险提示书，表明投资者已
                经理解并愿意自行承担接受证券投资顾问服务的风险
                和损失。
            </p>
        </div>

        <div class="cover">

        </div>
    </div>


</div>

@@include('common/footer.html')
</body>
@@include('common/foot.html')
<script>
  $(function () {
    $('.show-text').click(function () {
      $('.ul').toggleClass('active');
      $('.cover').toggle();
    })
  });
</script>
