<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    @@include('head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/about-us.css">
</head>
<body>

<div class="about-us">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide one">
                <!--头部-->
                <div class="header">
                    <!--头部最高行-->
                    <div class="header-top">
                        <div class="header-top-wrap">
                            <div class="header-phone">
                                <p class="header-phone-box">客服中心电话：0755-82782361</p>
                                <p class="header-phone-box">
                                    <span class="header-phone-span">服务监督电话：0755-82560701</span>
                                    <span class="header-phone-span-middle-line"></span>
                                    <span class="header-phone-span"> 周一至五 09:00-17:30</span>
                                </p>
                            </div>
                            <div class="header-statement" data-action="show-statement">
                                <img class="header-statement-img" src="/assets/home_new/images/icon_home_sm_b.png"
                                     alt="公司声明">
                                <span class="header-statement-span">公司声明</span>
                            </div>
                        </div>
                    </div>

                    <!--头部LOGO行-->
                    <div class="header-bottom">
                        <a class="header-logo" href="/"><img class="header-logo-img" src="/assets/home_new/images/logo.png" alt="民众投顾"></a>
                        <div class="header-consultation">
                            <a class="header-consultation-online"
                               href="tencent://message/?uin=2238086832&Site=test315.nesky.cn&Menu=yes">
                                <img class="header-consultation-online-img"
                                     src="/assets/home_new/images/icon_home_kf_w.png" alt="">
                                <span class="header-consultation-online-span">服务咨询</span>
                            </a>
                            <div class="header-consultation-phone">
                                <p class="header-consultation-phone-p">免费客服热线</p>
                                <p class="header-consultation-phone-p">0755-82782361</p>
                            </div>
                        </div>
                    </div>

                    <!--头部导航-->
                    <div class="header-nav">
                        <ul class="header-nav-ul">
                            <li class="header-nav-li active">
                                <a class="menu-link" href="#">首页</a>
                            </li>
                            <li class="header-nav-li">
                                <a class="menu-link" href="#">产品中心</a>
                                <!--<ul class="submenus">-->
                                <!--<li class="submenu"><a class="menu-link" href="#">短线宝</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">君银操盘</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">君银研究</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">财富报告</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">财富神话</a></li>-->
                                <!--</ul>-->
                            </li>

                            <li class="header-nav-li">
                                <a class="menu-link" href="#">投顾团队</a>
                                <!--<ul class="submenus">-->
                                <!--<li class="submenu"><a class="menu-link" href="#">强势优选</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">牛眼主升</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">量化驱动</a></li>-->
                                <!--</ul>-->
                            </li>
                            <li class="header-nav-li">
                                <a class="menu-link" href="#">教育园地</a>
                            </li>
                            <li class="header-nav-li">
                                <a class="menu-link" href="#">君银咨询</a>
                                <!--<ul class="submenus">-->
                                <!--<li class="submenu"><a class="menu-link" href="#">君银早餐</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">君银盯盘</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">君银视点</a></li>-->
                                <!--<li class="submenu"><a class="menu-link" href="#">君银内参</a></li>-->
                                <!--</ul>-->
                            </li>
                            <li class="header-nav-li">
                                <a class="menu-link" href="#">关于我们</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content-body">
                    <img class="content-img" src="/assets/home_new/images/aboutus/common_mz_logo.png" alt="">
                </div>
            </div>
            <div class="swiper-slide two">
                <h2 class="content-title">
                    关于我们
                </h2>
                <div class="content-body">
                    <div class="content-text">
                        民众证券投资咨询有限公司以<span class="blue">“用心、专心、贴心”</span>为服务宗旨，以<span class="blue">“专心铸造专业，专业塑造品质，品质打造品牌，品牌创造价值”</span>为企业理念努力不懈地为广大投资者提供，个性化、精细化的投资顾问服务，深受广大投资者的青睐
                    </div>
                    <div class="content-img">
                        <img class="content-img-p1" src="/assets/home_new/images/aboutus/common_au_pic_1.png" alt="">
                        <img class="content-img-p2" src="/assets/home_new/images/aboutus/common_au_pic_2.png" alt="">
                        <img class="content-img-p3" src="/assets/home_new/images/aboutus/common_au_pic_3.png" alt="">
                        <img class="content-img-p4" src="/assets/home_new/images/aboutus/common_au_pic_4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-slide three">
                <h2 class="content-title">
                    发展历程
                </h2>
                <div class="content-body">
                    <div class="content-text">
                        <div class="content-text-t1998">
                            <div class="time">1998</div>
                            <div class="text">民众投顾获得经营证券期货业务许可证</div>
                            <div class="line"></div>
                        </div>
                        <div class="content-text-t2008">
                            <div class="time">2008</div>
                            <div class="text">公司多为嘉宾受邀参与湖北卫视等多家电视财经栏目的制作与播出工作，并获得一致认可</div>
                            <div class="line"></div>
                        </div>
                        <div class="content-text-t2010">
                            <div class="time">2010</div>
                            <div class="text">公司率先通过移动互联网技术，将传统投顾服务细分，提出微服务概念，并完成了微投顾服务的规划与基础建设</div>
                            <div class="line"></div>
                        </div>
                        <div class="content-text-t2013">
                            <div class="time">2013</div>
                            <div class="text">公司根据市场需求，建立完善的产品体系及服务体系架构，用两年的时间开展小范围的客户服务体验，获得良好的市场反馈与用户口碑</div>
                            <div class="line"></div>
                        </div>
                        <div class="content-text-t2015">
                            <div class="time">2015</div>
                            <div class="text">民众投资董事会研究决定，相继成立上海、武汉分公司，并逐渐获得市场的认可</div>
                            <div class="line"></div>
                        </div>
                        <div class="content-text-t2016">
                            <div class="time">
                                <span>2016</span>
                                <span>-</span>
                                <span>至今</span>
                            </div>
                            <div class="text">民众投顾为进一步开拓投顾业务的市场，成立了合肥、广州、长沙等分公司，将业务的版图进一步扩大</div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide four">
                <h2 class="content-title">
                    专业团队
                </h2>
                <div class="content-body">
                    <img class="content-img" src="/assets/home_new/images/aboutus/common_au_team_zy.png" alt="">
                    <img class="content-img" src="/assets/home_new/images/aboutus/common_au_team_gx.png" alt="">
                    <img class="content-img" src="/assets/home_new/images/aboutus/common_au_team_qw.png" alt="">
                    <img class="content-img" src="/assets/home_new/images/aboutus/common_au_team_tx.png" alt="">
                    <img class="content-img" src="/assets/home_new/images/aboutus/common_au_team_gjd.png" alt="">
                    <img class="content-img" src="/assets/home_new/images/aboutus/common_au_team_sty.png" alt="">
                </div>
            </div>
            <div class="swiper-slide five">
                <h2 class="content-title">
                    企业资质
                </h2>
                <div class="content-body">
                    <div class="content-boxes">
                        <a target="_blank" href="/assets/home_new/images/aboutus/usfour-big4.jpg" class="content-box usfour4">
                            <div class="img"></div>
                            <span class="a">网站备案信息</span>
                        </a>
                        <div class="content-row">
                            <a target="_blank" href="/assets/home_new/images/aboutus/usfour-big1.jpg" class="content-box usfour1">
                                <div class="img"></div>
                                <span class="a">营业许可证</span>
                            </a>
                            <a target="_blank" href="/assets/home_new/images/aboutus/usfour-big2.jpg" class="content-box usfour2">
                                <div class="img"></div>
                                <span class="a">信用网站认证</span>
                            </a>
                            <a target="_blank" href="/assets/home_new/images/aboutus/usfour-big3.jpg" class="content-box usfour3">
                                <div class="img"></div>
                                <span class="a">营业执照</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide six">
                <h2 class="content-title">
                    联系我们
                </h2>
                <div class="content-body">
                    <div class="content-box">
                        <div class="content-box-text">关于我们</div>
                        <img class="content-box-qr" src="/assets/home_new/images/ewm.jpg"/>
                    </div>
                    <div class="content-text company-name">
                        深圳民众证券投资咨询顾问有限公司
                    </div>
                    <div class="content-line"></div>
                    <div class="content-text">
                        <p>ICP备案：粤ICP备15035969号</p>
                        <p>版权所有&copy;深圳民众证券投资咨询顾问有限公司</p>
                        <p>公司地址：广东省深圳市福田区沙头街道下沙京基滨河时代广场A座41楼05室</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination">
        </div>
        <img src="/assets/home_new/images/aboutus/common_icon_down.png" alt="" class="next">
    </div>
</div>
<!--声明文件-->
<div class="statement">
    <div class="statement-box">
        <img class="statement-close" src="/assets/home_new/images/icon_sm_off.png" alt="" data-action="hide-statement"/>
        <div class="statement-summary">
            <div class="statement-summary-title">
                <p>民众证券投资咨询顾问有限公司声明</p>
                <p class="double-line"></p>
            </div>
            <div class="statement-summary-content">
                <p>
                    近期，我公司发现某些不法个人冒充公司营销人员向投资者收取高额的费用，甚至以保证投资收益回报等方式吸引投资者从事证券投资或其他金融相关业务，以骗取服务费或投资理财款，严重侵害了投资者及我公司的合法利益，对我公司声誉造成恶劣影响。</p>
                <h4>对此公司郑重声明：</h4>
                <p>1、我公司从事的业务范围仅限于证券投资咨询服务，未开展期货、外汇、原油、贵金属等投资业务。如投资者收到假借我公司名义推广上述业务的电话、微信等，请投资者保持警惕、谨防上当受骗。</p>
                <p>2、我公司对外统一使用公司财户收取服务费用，且严禁营销人员以私人账户收款，如有疑问可拨打总部电话0755-82560701、0755-82782361进行核实。</p>
                <p>3、郑重警告正在冒用我公司名义进行销售及其他活动的任何个人或组织，立即停止此类非法行为。对于损害我公司合法权益的行为，我公司保留追究诉诸法律的权利。</p>
                <p>4、任何冒用我公司名义引起的一切行为后果与我公司无关，敬请区分。</p>
                <p>请各位投资者提高警惕，谨防上当受骗，切实维护好自身权益。</p>
                <p>特此声明！</p>
                <p class="text-right">
                    民众证券投资咨询顾问有限公司
                </p>
                <p class="text-right">
                    2018-04-16
                </p>
            </div>
        </div>
        <img src="/assets/home_new/images/common_sm_pic.png" class="statement-foot"/>
    </div>
</div>

<!--侧边导航-->
<div class="sider-toolbar">
    <a class="sider-toolbar-box sider-toolbar-box-customer"
       href="tencent://message/?uin=2238086832&Site=test315.nesky.cn&Menu=yes">
    </a>
    <div class="line"></div>
    <div class="sider-toolbar-box sider-toolbar-box-statement" data-action="show-statement">
    </div>
    <div class="line"></div>
    <div class="sider-toolbar-box sider-toolbar-box-scroll" data-action="scroll-to-top">
    </div>
</div>

</body>
<!--脚步需要独立引入-->
<script src="/assets/home_new/public/swiper.min.js"></script>
<script>
  function statementShow() {
    console.log('statementShow');
    $('.statement').addClass('show');
  }

  function statementHide() {
    console.log('statementHide');
    $('.statement').removeClass('show');
  }





  function resize(){
    // var oneHeight = $('.one').height();
    //
    // $('.one .content-img').css({
    //   marginTop:(oneHeight-197-400)/2
    // })
  }

  $(function(){

    /*大屏滚动*/
    var mySwiper = new Swiper('.swiper-container', {
      direction: 'vertical',
      simulateTouch: false,//禁止鼠标模拟
      mousewheel: true,
      pagination: {
        el: '.swiper-pagination',
      },
      on: {
        slideChange: function () {
          if (this.activeIndex === 0) {
            console.log(this.activeIndex)
            console.log(this.activeIndex === 0)
            $('.sider-toolbar').removeClass('show');
          }
          else {
            $('.sider-toolbar').addClass('show');
          }
        },
        reachEnd:function(){
          $('.next').hide()
        }
      }
    })

    /*侧边栏导航功能*/
    $('[data-action="show-statement"]').on('click', statementShow);
    $('[data-action="hide-statement"]').on('click', statementHide);
    $('[data-action="scroll-to-top"]').on('click', function(){mySwiper.slideTo(0)});



    resize();

    $(window).on('resize',resize)
  })


</script>
</html>
