<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>民众财经</title>
    @@include('head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/public/jquery.pagination.css">
    <link rel="stylesheet" href="/assets/home_new/css/finance.css">
</head>
<body>
@@include('header.html')

<!--面包屑导航-->
<div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">民众财经</a>
</div>


<!--民众财经主体-->
<div class="page-finance">
    <div class="page-finance-nav">
        <div class="page-finance-nav-head">
            全部视频（352个）
        </div>
        <div class="page-finance-nav-body">
            <div class="select">
                <span class="select-label">老师：</span>
                <a href="" class="select-link active">全部</a>
                <a href="" class="select-link">董齐安</a>
                <a href="" class="select-link">焦晓颖</a>
                <a href="" class="select-link">易文斌</a>
                <a href="" class="select-link">吴瑞辉</a>
                <a href="" class="select-link">栾海涛</a>
                <a href="" class="select-link">陈勇</a>
            </div>
            <div class="select">
                <span class="select-label">时间：</span>
                <a href="" class="select-link active">全部</a>
                <a href="" class="select-link">当天</a>
                <a href="" class="select-link">最近一周</a>
                <a href="" class="select-link">最近一个月</a>
                <a href="" class="select-link">最近三个月</a>
            </div>
        </div>
    </div>
    <div class="page-finance-list">
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>

        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>

        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>

        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>

        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
        <a href="#" class="page-finance-list-li">
            <div class="img">
                <img src="http://zhangwenjun.jyzqsz.com/upload/video/1527214471_董齐安：2018-01-18.png" alt="">
                <div class="img-cover"></div>
            </div>
            <div class="info">
                <div class="title">市场继续强势反弹</div>
                <div class="sub">
                    <span class="sub-date">04-23</span>
                    <span class="sub-time">12:32</span>
                </div>
            </div>
        </a>
    </div>
    <div class="pagination">
        <div id="pagination" class="pagination-inner">

        </div>
    </div>
</div>

@@include('footer.html')
</body>
@@include('foot.html')
<script src="/assets/home_new/public/jquery.pagination.min.js"></script>
<script>

  $("#pagination").pagination({
    currentPage: 1,
    totalPage: 12,
    callback: function(current) {
      alert(current)
    }
  });
</script>
</html>
