<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主题博弈-详情</title>
    @@include('head.html')
    <link rel="stylesheet" href="/assets/home_new/pdf/web/pdf_viewer.css">
    <link rel="stylesheet" href="/assets/home_new/css/game-detail.css">
</head>
<body>
@@include('header.html')

<div class="page-game-detail">

    <div class="page-game-detail-content">
        <!--data-url文件地址-->
        <!--data-see能看到多少页-->
        <div
                id="pageContainer"
                class="page-container"
                data-url="/assets/home_new/mock/wx.pdf"
                data-see="10"
        >

        </div>
    </div>
</div>

<div class="page-game-detail-cover" id="detail-cover">
    <div class="page-game-detail-cover-box">
        <div class="in-title">
            温馨提示：
        </div>
        <div class="text">
            以下内容包含个股推荐，仅限会员查阅，请联系客服获取。客服电话：400-091-9988
        </div>
        <div class="i-see" id="detail-cover-close">确定</div>
    </div>
</div>

@@include('footer.html')
</body>
@@include('foot.html')
<script src="/assets/home_new/pdf/build/pdf.js"></script>
<script src="/assets/home_new/pdf/web/pdf_viewer.js"></script>
<script src="/assets/home_new/js/game-detial.js"></script>
</html>
