<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资者教育</title>
    @@include('head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/investor-edu.css">
</head>
<body>
@@include('header.html')

<!--面包屑导航-->
<div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">投资者教育</a>
    <a href="#" class="crumbs-add">客户投诉电话：0755-82560701 0755-82567081</a>
</div>

<div class="investor-edu">
    <div class="investor-edu-nav">
        <span class="investor-edu-nav-li">打击非法证券活动</span>
        <a class="investor-edu-nav-li" href="../investor-edu-danger">风险揭示书</a>
        <a class="investor-edu-nav-li" href="../investor-edu-vigilance">警惕互联网非法荐股</a>
    </div>
    <div class="investor-edu-content">
        <div class="investor-edu-content-blacklist">
            <div class="content-nav">
                <div class="content-nav-li">
                    <div class="content-nav-li-title">
                        非法信冒证券公司<br/>
                        证券投资咨询公司等机构黑名单
                    </div>
                    <div class="content-nav-li-sub">
                        2018年第4期
                    </div>
                </div>
                <div class="content-nav-li">
                    <div class="content-nav-li-title">
                        "投资者保护 - 明规则.识风险"案例巡展
                    </div>
                    <div class="content-nav-li-sub">
                        ——防范违规经营篇(三)
                    </div>
                </div>
                <div class="content-nav-li">
                    <div class="content-nav-li-title">
                        认清本质，抵制诱惑<br/>
                        远离非法证券期货活动
                    </div>
                    <div class="content-nav-li-sub">
                        2017年5月30日
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="content-body-title">
                    非法信冒证券公司,证券投资咨询公司等机构黑名单
                </div>
                <div class="content-body-sub">
                    （2018年第4期）
                </div>

                <div class="table">
                    <div class="th">
                        违规信息表现形式
                    </div>
                    <div class="table-type-one">
                        <div class="tr">
                            <div class="td">类别1</div>
                            <div class="td">
                                <div class="tr">
                                    <div class="th">非法投资咨询</div>
                                </div>
                                <div class="tr">
                                    <div class="th">类别1-1</div>
                                    <div class="td">以招揽会员或客户为名，提供证券投资分析、预测或建议的方式,非法代理客户从事证券投资理财活动。</div>
                                </div>
                                <div class="tr">
                                    <div class="td">类别1-2</div>
                                    <div class="td">以招揽会员或客户为名，提供证券投资分析、预测或建议的方式,非法代理客户从事证券投资理财活动。</div>
                                </div>
                                <div class="tr">
                                    <div class="td">类别1-3</div>
                                    <div class="td">以招揽会员或客户为名，提供证券投资分析、预测或建议的方式,非法代理客户从事证券投资理财活动。</div>
                                </div>
                                <div class="tr">
                                    <div class="td">类别1-4</div>
                                    <div class="td">以招揽会员或客户为名，提供证券投资分析、预测或建议的方式,非法代理客户从事证券投资理财活动。</div>
                                </div>
                                <div class="tr">
                                    <div class="td">类别1-5</div>
                                    <div class="td">以招揽会员或客户为名，提供证券投资分析、预测或建议的方式,非法代理客户从事证券投资理财活动。</div>
                                </div>
                            </div>
                        </div>
                        <div class="tr">
                            <div class="th">类别2</div>
                            <div class="th">非法发行证券</div>
                        </div>
                        <div class="tr">
                            <div class="th">类别3</div>
                            <div class="th">非法发行交易</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('footer.html')
</body>
@@include('foot.html')
</html>
