<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品中心</title>
    @@include('head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/product.css">
</head>
<body>
@@include('header.html')


<div class="product container">

    <!--顶部大banner-->
    <div class="banner">
        <img class="banner-img" src="/assets/home_new/images/common_cp_toppic.jpg" alt="">
    </div>

    <!--案例回顾-->
    <div class="review">
        <h2 class="review-title">
            案例回顾
        </h2>
        <div class="review-nav">
            <div class="review-nav-li" data-li="dxb">短线宝</div>
            <div class="review-nav-li active" data-li="jycp">君银操盘</div>
            <div class="review-nav-li" data-li="jyyj">君银研究</div>
        </div>
        <div class="review-nav-contents">
            <!--短线宝-->
            <div class="content c-dxb" data-content="dxb">
                <div class="swiper-container review-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">强势优选1</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">强势优选2</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                    <div class="compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">强势优选3</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">强势优选4</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">强势优选5</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">强势优选6</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">强势优选7</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">强势优选8</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-swiper-button-next"></div>
                <div class="review-swiper-button-prev"></div>
            </div>

            <!--君银操盘-->
            <div class="content c-jycp active" data-content="jycp">
                <div class="swiper-container review-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银操盘1</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银操盘2</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                    <div class="compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银操盘3</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银操盘4</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银操盘5</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银操盘6</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银操盘7</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银操盘8</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-swiper-button-next"></div>
                <div class="review-swiper-button-prev"></div>
            </div>

            <!--君银研究-->
            <div class="content c-jyyj" data-content="jyyj">
                <div class="swiper-container review-swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银研究1</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银研究2</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                    <div class="compare">
                                        同期沪深300指数表现：-7.86%
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银研究3</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银研究4</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银研究5</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银研究6</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="review-box">
                                <div class="title">君银研究7</div>
                                <div class="chart">
                                    <div>15.46%</div>
                                </div>
                                <div class="sub">五日最高涨幅</div>
                                <div class="detail">
                                    <div class="date">
                                        推荐时间：2018-03-26
                                    </div>
                                    <div class="stock">
                                        推荐标的：海汽集团(603069)
                                    </div>
                                    <div class="state">
                                        状态：已结案
                                    </div>
                                </div>
                                <a href="#" class="link">
                                    查看案例图
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review-swiper-button-next"></div>
                <div class="review-swiper-button-prev"></div>
            </div>
        </div>

        <div class="review-sub">
            上述个股统计为阶段性统计，过往战绩不代表未来收益，更多战绩请联系投顾助理查看
        </div>
    </div>

    <!--短线宝-->
    <div class="duan-xian-bao product-content">
        <div class="wrap">
            <h2 class="title">短线宝 <span class="title-sub">//专注博弈机会//</span></h2>
            <div class="product-boxes">
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--君银操盘-->
    <div class="jun-yin-cao-pan product-content">
        <div class="wrap">
            <h2 class="title">君银操盘 <span class="title-sub">//专注中波段持股//</span></h2>
            <div class="product-boxes">
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!--君银研究-->
    <div class="jun-yin-yan-jiu product-content">
        <div class="wrap">
            <h2 class="title">君银研究 <span class="title-sub">//专注长线价值投资//</span></h2>
            <div class="product-boxes">
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="product-box">
                    <a class="product-box-link" href="">
                        <img class="product-box-img"
                             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
                        <div class="product-box-info">
                            <div class="box-title">
                                短线掘金
                                <p class="box-title-sub">
                                    聚焦市场热点，抓涨大牛股
                                </p>
                            </div>
                            <div class="price">
                                价格：<span class="red">2980元/90天</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--私人订制-->
    <div class="si-ren-ding-zhi">
        <div class="wrap">
            <h2 class="title">私人定制 <span class="title-sub">//专注打造只属于您的投资策略//</span></h2>
            <a href="#">
                <img class="big-img" src="/assets/home_new/images/common_cp_sr.jpg" alt="私人定制">
            </a>

        </div>
    </div>
    <!--主体活动-->
    <div class="zhu-ti-huo-dong">
        <div class="wrap">
            <h2 class="title">主题活动</h2>
            <a href="#">
                <img class="big-img" src="/assets/home_new/images/common_cp_hd.jpg" alt="主题活动">
            </a>
        </div>
    </div>
</div>

@@include('footer.html')
</body>
@@include('foot.html')
<script src="/assets/home_new/public/swiper.min.js"></script>
<script>

    $(function(){
      var swiper={};
      swiper.dxb = new Swiper('.c-dxb .swiper-container', {
        slidesPerView:3,
        slidesPerGroup : 3,
        // spaceBetween : 30,
        navigation: {
          nextEl: '.c-dxb .review-swiper-button-next',
          prevEl: '.c-dxb .review-swiper-button-prev'
        }
      })

      swiper.jycp = new Swiper('.c-jycp .swiper-container', {
        slidesPerView:3,
        slidesPerGroup : 3,
        // spaceBetween : 30,
        navigation: {
          nextEl: '.c-jycp .review-swiper-button-next',
          prevEl: '.c-jycp .review-swiper-button-prev'
        }
      })

      swiper.jyyj = new Swiper('.c-jyyj .swiper-container', {
        slidesPerView:3,
        slidesPerGroup : 3,
        // spaceBetween : 30,
        navigation: {
          nextEl: '.c-jyyj .review-swiper-button-next',
          prevEl: '.c-jyyj .review-swiper-button-prev'
        }
      })


      console.log(swiper)


      $('.review-nav-li').on('click',function(){
        var $this = $(this);
        if($this.hasClass('active')){
          return false;
        }
        else{
          var data = $this.data('li');
          var $content = $('[data-content="'+data+'"]');
          $this.siblings().removeClass('active');
          $this.addClass('active');
          $content.siblings().removeClass('active');
          $content.addClass('active');
          swiper[data].update()
        }
      })
    })
</script>
</html>
