<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品详情</title>
    @@include('head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/product-detail.css">
</head>
<body>
@@include('header.html')


<!--面包屑导航-->
<div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">产品中心</a>
    <a href="#" class="crumbs-add">民众研究 · 估值聚焦</a>
</div>

<div class="container product-detail">
    <a class="product-head">
        <img class="product-head-img"
             src="http://zhangwenjun.jyzqsz.com/upload/product_cover/1527657666_cp_强势优选_360x240.png" alt="">
        <div class="product-head-info">
            <div class="box-title">
                民众研究 · 估值聚焦
                <p class="box-title-sub">
                    基于A股市场中强势个股，从中选出强中强的个股作进一步研究分析，组成一个精选牛股池。
                </p>
            </div>
            <div class="price">
                价格：<span class="red">2980元/90天</span>
            </div>
        </div>
    </a>
    <div class="product-content">
        <p>
            <img src="/assets/home_new/mock/product/pic_jyyj_gzjj_01.jpg" alt="">
        </p>
        <p>
            <img src="/assets/home_new/mock/product/pic_jyyj_gzjj_02.jpg" alt="">
        </p>
        <p>
            <img src="/assets/home_new/mock/product/pic_jyyj_gzjj_03.jpg" alt="">
        </p>
        <p>
            <img src="/assets/home_new/mock/product/pic_jyyj_gzjj_04.jpg" alt="">
        </p>
        <p>
            <img src="/assets/home_new/mock/product/pic_jyyj_gzjj_05.jpg" alt="">
        </p>
        <p>
            <img src="/assets/home_new/mock/product/pic_jyyj_gzjj_06.jpg" alt="">
        </p>
        <p>
            <img src="/assets/home_new/mock/product/pic_jyyj_gzjj_07.jpg" alt="">
        </p>
        <p>
            <img src="/assets/home_new/mock/product/pic_jyyj_gzjj_08.jpg" alt="">
        </p>
    </div>
</div>


@@include('footer.html')
</body>
@@include('foot.html')
</html>
