<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>君银头条</title>
    @@include('head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/public/jquery.pagination.css">
    <link rel="stylesheet" href="/assets/home_new/css/top-news.css">
</head>
<body>
@@include('header.html')

<!--面包屑导航-->
<div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">君银资讯</a>
    <a href="#" class="crumbs-add">君银头条</a>
</div>

<div class="top-news container">
    <h2 class="top-news-head">
        君银头条
    </h2>
    <div class="top-news-content">
        <a href="#" class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </a>
        <a class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    2昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </a>
        <div class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </div>
        <div class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </div>
        <div class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </div>
        <div class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </div>
        <div class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </div>
        <div class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </div>
        <div class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </div>
        <div class="top-news-content-li">
            <img class="top-news-content-li-img" src="http://zhangwenjun.jyzqsz.com/upload/information/1528343804_专栏4.jpg"/>
            <div class="top-news-content-li-info">
                <div class="info-head">
                    <div class="info-title">
                        君银投顾的发展历史
                    </div>
                    <div class="info-sub">2018-04-16</div>
                </div>
                <div class="info-text">
                    昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div id="pagination" class="pagination-inner">

        </div>
    </div>
</div>



@@include('footer.html')
</body>
@@include('foot.html')
<script src="/assets/home_new/public/jquery.pagination.min.js"></script>
<script>

    /*查过两行加上省略号*/
    eclipse('.info-text',120);

    $("#pagination").pagination({
      currentPage: 1,
      totalPage: 12,
      callback: function(current) {
        alert(current)
      }
    });
</script>
</html>
