<!--页面公共 footer-->
<footer>
    <div class="footer-nav">
        <div class="footer-nav-one">
            <a href="" class="nav">风险提示</a>
            <a href="" class="nav">免责声明</a>
            <a href="" class="nav">公司简介</a>
            <a href="" class="nav">企业文化</a>
            <a href="" class="nav">企业资质</a>
        </div>
        <div class="footer-nav-two">
            <a href="" class="nav">联系我们</a>
            <a href="" class="nav">关于我们</a>
            <a href="" class="nav">网站地图</a>
        </div>
    </div>

    <div class="line"></div>

    <div class="footer-info">
        <div class="footer-info-one">
            证券投资咨询业务资格证书: ZX0112 网站备案号:沪ICP备88888888号-8
            公安备案号: 888888888888 版权所有:深圳君银证券投资咨询顾问有限公司　
        </div>
        <div class="footer-info-two">
            举报邮箱: jubao@zqt888.cn客服电话: 021-88888888；021-88888889　
            投诉电话: 021-88888888　地址:上海市闸北区广中西路777号启迪大厦
            1006室
        </div>
        <div class="footer-info-three">
            风险提示: 本站所载文章,数据仅供参考，投资有风险,入市需谨慎
        </div>
    </div>

    <div class="line"></div>

    <div class="footer-wechat">
        关注我们：微信
        <img class="footer-wechat-img" src="/assets/home_mobile/image/common_icon_wj_wx.png" alt="">
    </div>
</footer>
<!--页面公共 footer-->
