<!--页面公共-->
<!--头部-->
<header>
    <div class="header-logo">
        <img class="header-logo-img" src="http://zhangwenjun.jyzqsz.com/assets/home_new/images/logo.png" />
    </div>
    <div class="header-menu" data-action="showSideMenu"></div>
</header>

<!--侧边导航栏-->
<div class="side-menu" id="sideMenu">
    <a class="side-menu-nav">
        <span class="side-menu-nav-span">首页</span>
    </a>
    <a class="side-menu-nav">
        <span class="side-menu-nav-span">产品中心</span>
    </a>
    <a class="side-menu-nav">
        <span class="side-menu-nav-span">投顾团队</span>
    </a>
    <a class="side-menu-nav">
        <span class="side-menu-nav-span">教育园地</span>
    </a>
    <a class="side-menu-nav">
        <span class="side-menu-nav-span">民众资讯</span>
    </a>
    <a class="side-menu-nav">
        <span class="side-menu-nav-span">关于我们</span>
    </a>
    <a class="side-menu-nav">
        <span class="side-menu-nav-span">公司声明</span>
    </a>
</div>
<!--页面公共-->
