# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
node_modules
bower_components
assets/home_new/css/
assets/home_new/html/
assets/home_mobile/css/
assets/home_mobile/html/
pdf
zxt-new-jyzqsz-com.rar
**/*.png
**/*.jpg
**/*.rar
**/*.pdf
todos
.vscode
