<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>策略纪要</title>
  @@include('./common/head.html')
  <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
  <link rel="stylesheet" href="/assets/home_new/public/jquery.pagination.css">
  <link rel="stylesheet" href="/assets/home_new/css/detail-office.css">
</head>

<body>
  @@include('./common/header.html')

  <!--面包屑导航-->
  <div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">民众资讯</a>
    <a href="#" class="crumbs-add">策略纪要</a>
    <a class="crumbs-add">民众证券的发展历史</a>
  </div>

  <!--样式同民众头条-->
  <div class="container">
    <div class="info-content">
        <div class="info-content-title">
                <div class="title">20181016 民众收评</div>
                <div class="date">2018-10-16</div>
        </div>
        <div class="office-content">
                <img class="office-content-img" src="/assets/home_new/images/detail/file_word.png" alt="">
                <p class="office-content-p">这是一个WORD文件请
                    <a class="office-download" href="" download="这里面文件策略纪要的标题">下载</a>
                后观看</p>
        </div>

      <div class="page-article-content-nav">
        <div class="prev">
          <span>上一篇：</span>
          <a class="link" href="">民众证券的发展历史上一遍</a>
        </div>
        <div class="next">
          <span>下一篇：</span>
          <a class="link" href="">民众证券的发展历史下一遍</a>
        </div>
      </div>
    </div>

    <div class="info-hot-list">
      <h2 class="info-hot-list-head">
        热门纪要
      </h2>
      <div class="info-hot-list-content">
        <a href=# class="info-hot-list-content-box">
          <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/1.jpg" />
          <div class="info-hot-list-content-box-title">
            <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
            <div class="sub">2018-04-16</div>
          </div>
        </a>
        <a href=# class="info-hot-list-content-box">
          <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/1.jpg" />
          <div class="info-hot-list-content-box-title">
            <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
            <div class="sub">2018-04-16</div>
          </div>
        </a>
        <a href=# class="info-hot-list-content-box">
          <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/1.jpg" />
          <div class="info-hot-list-content-box-title">
            <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
            <div class="sub">2018-04-16</div>
          </div>
        </a>
      </div>
    </div>
  </div>




  @@include('./common/footer.html')
</body>
@@include('./common/foot.html')
<script src="/assets/home_new/public/jquery.pagination.min.js"></script>
<script src="/assets/home_new/js/office-detail.js"></script>
<script>

  /*查过两行加上省略号*/
  eclipse('.info-text', 120);

  $("#pagination").pagination({
    currentPage: 1,
    totalPage: 12,
    callback: function (current) {
      alert(current)
    }
  });
</script>

</html>