<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资讯动态</title>
    @@include('./common/head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/public/jquery.pagination.css">
    <link rel="stylesheet" href="/assets/home_new/css/dynamics-info.css">
</head>
<body>
@@include('./common/header.html')

<!--面包屑导航-->
<div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">民众资讯</a>
    <a href="#" class="crumbs-add">资讯动态</a>
</div>

<div class="dynamics-info container">
    <h2 class="dynamics-info-head">
        资讯动态
    </h2>
    <div class="dynamics-info-content">
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
        <a href="#" class="dynamics-info-content-li">
            <div class="dynamics-info-head">
                <h2 class="dynamics-info-title">
                    周五情报精选
                </h2>
                <div class="dynamics-info-sub">2018-04-16</div>
            </div>
            <div class="dynamics-info-text">
                1昨日A股各大指数横盘整理，基本都收了十字星，从涨跌幅度来看，只有上证指数是红盘报收，说明之前上证50的领涨已初具扩散效应。就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板就走势而言主板和中小创板
            </div>
        </a>
    </div>
    <div class="pagination">
        <div id="pagination" class="pagination-inner">

        </div>
    </div>
</div>



@@include('./common/footer.html')
</body>
@@include('./common/foot.html')
<script src="/assets/home_new/public/jquery.pagination.min.js"></script>
<script>
  /*查过两行加上省略号*/
    eclipse('.dynamics-info-text',120);

    $("#pagination").pagination({
      currentPage: 1,
      totalPage: 12,
      callback: function(current) {
        alert(current)
      }
    });
</script>
</html>
