<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>市场继续强势反弹</title>
    @@include('./common/head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/finance-detail.css">
</head>
<body>
@@include('./common/header.html')

<!--面包屑导航-->
<div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">民众财经</a>
    <a href="#" class="crumbs-add">市场继续强势反弹</a>
</div>


<!--民众财经-详情-->
<div class="page-finance-detail">
    <div class="page-finance-detail-video">
        <div class="video">
            <embed src="http://cache.tv.qq.com/qqplayerout.swf?vid=w0538pkuyg4" allowfullscreen="true" quality="high" width="840" height="560" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash">
        </div>

        <div class="title">市场继续强势反弹</div>
        <div class="sub">上传于 2018-04-23</div>
    </div>
    <div class="page-finance-detail-side">
        <div class="title">其他视频</div>
        <div class="list">
            <a class="li">
                <img class="li-img"  src="http://zhangwenjun.jyzqsz.com/upload/video/1527214554_焦晓颖：2018-01-11.png"/>
                <span class="li-title">
                    工业互联网插上“智能”翅膀 围绕细分领域发展前景布局
                </span>
            </a>
            <a class="li">
                <img class="li-img"  src="http://zhangwenjun.jyzqsz.com/upload/video/1527214554_焦晓颖：2018-01-11.png"/>
                <span class="li-title">
                    工业互联网插上“智能”翅膀 围绕细分领域发展前景布局
                </span>
            </a>
            <a class="li">
                <img class="li-img"  src="http://zhangwenjun.jyzqsz.com/upload/video/1527214554_焦晓颖：2018-01-11.png"/>
                <span class="li-title">
                    工业互联网插上“智能”翅膀 围绕细分领域发展前景布局
                </span>
            </a>
            <a class="li">
                <img class="li-img"  src="http://zhangwenjun.jyzqsz.com/upload/video/1527214554_焦晓颖：2018-01-11.png"/>
                <span class="li-title">
                    工业互联网插上“智能”翅膀 围绕细分领域发展前景布局
                </span>
            </a>
            <a class="li">
                <img class="li-img"  src="http://zhangwenjun.jyzqsz.com/upload/video/1527214554_焦晓颖：2018-01-11.png"/>
                <span class="li-title">
                    工业互联网插上“智能”翅膀 围绕细分领域发展前景布局
                </span>
            </a>
            <a class="li">
                <img class="li-img"  src="http://zhangwenjun.jyzqsz.com/upload/video/1527214554_焦晓颖：2018-01-11.png"/>
                <span class="li-title">
                    工业互联网插上“智能”翅膀 围绕细分领域发展前景布局
                </span>
            </a>
            <a class="li">
                <img class="li-img"  src="http://zhangwenjun.jyzqsz.com/upload/video/1527214554_焦晓颖：2018-01-11.png"/>
                <span class="li-title">
                    工业互联网插上“智能”翅膀 围绕细分领域发展前景布局
                </span>
            </a>
        </div>
    </div>
</div>

@@include('./common/footer.html')
</body>
@@include('./common/foot.html')
</html>
