<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @@include('./common/head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/index.css">
</head>
<body>
@@include('./common/header.html')

<div class="container index">



    <!--swiper-->
    <div class="swiper-container index-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="swiper-slider-img" src="/assets/home_new/images/common_home_banner.jpg" style="width:100% ;" alt="" /></div>
            <div class="swiper-slide"><img class="swiper-slider-img" src="/assets/home_new/images/common_home_banner.jpg" style="width:100% ;" alt="" /></div>
            <div class="swiper-slide"><img class="swiper-slider-img" src="/assets/home_new/images/common_home_banner.jpg" style="width:100% ;" alt="" /></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div><!--左箭头-->
        <div class="swiper-button-next"></div><!--右箭头-->
    </div>



    <!--指数-->
    <div class="index-number">
        <div class="index-number-wrap">
            <ul class="index-number-ul">
                <li class="index-number-li red">
                    <span class="name">上证指数：</span>
                    <span class="number">2918.77</span>
                    <span class="rise">8.79</span>
                    <span class="percent">0.30%</span>
                </li>

                <li class="index-number-li green">
                    <span class="name">深证指数：</span>
                    <span class="number">9035.38</span>
                    <span class="rise">45.68</span>
                    <span class="percent">0.21%</span>
                </li>

                <li class="index-number-li red">
                    <span class="name">创业板指数：</span>
                    <span class="number">1563.15</span>
                    <span class="rise">15.98</span>
                    <span class="percent">1.03%</span>
                </li>
            </ul>
            <p class="index-number-p">
                <img class="index-number-p-img" src="/assets/home_new/images/icon_home_app_xz.png" alt="">
                <a href="#" class="index-number-p-a">下载民众投顾APP</a>
                <span class="index-number-p-span">行情服务随时随地</span>
            </p>
        </div>
    </div>


    <!--产品中心-->
    <div class="product">
        <div class="wrap">
            <h2 class="title">产品中心</h2>
            <a class="sub-title" href="#">更多 ></a>
            <div class="product-boxes">
                <div class="product-box">
                    <div class="product-box-info">
                        <h2 class="product-box-info-title">短线宝</h2>
                        <p class="product-box-info-detail">
                            以事件驱动型投资策略为主打造的一款短线博弈类产品，聚焦市场主流热点，捕捉具备爆发力的标的股
                        </p>
                        <a href="#" class="product-box-info-link">
                            了解详情
                        </a>
                    </div>
                    <div class="product-box-pic">
                        <img class="product-box-pic-img" src="/assets/home_new/images/icon_home_dxb.png" alt="短线宝">
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-box-info">
                        <h2 class="product-box-info-title">民众操盘</h2>
                        <p class="product-box-info-detail">
                            以事件驱动型投资策略为主打造的一款短线博弈类产品，聚焦市场主流热点，捕捉具备爆发力的标的股
                        </p>
                        <a href="#" class="product-box-info-link">
                            了解详情
                        </a>
                    </div>
                    <div class="product-box-pic">
                        <img class="product-box-pic-img" src="/assets/home_new/images/icon_home_cp.png" alt="民众操盘">
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-box-pic">
                        <img class="product-box-pic-img" src="/assets/home_new/images/icon_home_sj.png" alt="民众研究">
                    </div>
                    <div class="product-box-info">
                        <h2 class="product-box-info-title">民众研究</h2>
                        <p class="product-box-info-detail">
                            以事件驱动型投资策略为主打造的一款短线博弈类产品，聚焦市场主流热点，捕捉具备爆发力的标的股
                        </p>
                        <a href="#" class="product-box-info-link">
                            了解详情
                        </a>
                    </div>
                </div>
                <div class="product-box">
                    <div class="product-box-pic">
                        <img class="product-box-pic-img" src="/assets/home_new/images/icon_home_sr.png" alt="私人管家">
                    </div>
                    <div class="product-box-info">
                        <h2 class="product-box-info-title">私人管家</h2>
                        <p class="product-box-info-detail">
                            以事件驱动型投资策略为主打造的一款短线博弈类产品，聚焦市场主流热点，捕捉具备爆发力的标的股
                        </p>
                        <a href="#" class="product-box-info-link">
                            了解详情
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--头条新闻-->
    <div class="news">
        <div class="wrap">
            <h2 class="title">头条新闻</h2>
            <a class="sub-title" href="#">更多 ></a>
            <div class="news-boxes">
                <a href="#" class="news-left">
                    <img class="news-left-img" src="/assets/home_new/mock/news_test.jpg" alt="头条新闻">
                    <p class="news-left-p">如何理解我国证券投资基金的投资行为？</p>
                </a>
                <div class="news-middle">
                    <a class="news-middle-link" href="#">
                        <img class="news-middle-img" src="/assets/home_new/mock/news_test2.jpg" alt="头条新闻">
                        <p class="news-middle-p">什么是证券的定义与特征？</p>
                    </a>
                    <a class="news-middle-link" href="#">
                        <img class="news-middle-img" src="/assets/home_new/mock/news_test3.jpg" alt="头条新闻">
                        <p class="news-middle-p">如何开袋资产证券化风险？</p>
                    </a>
                </div>
                <div class="news-right">
                    <a class="news-right-link" href="#">什么是投资组合分析法和行为金融分析法什么是投资组合分析法和行为金融分析法</a>
                    <a class="news-right-link" href="#">对投资顾问能力素质分析研究</a>
                    <a class="news-right-link" href="#">如何解析投资顾问的业务和发展现状？</a>
                    <a class="news-right-link" href="#">如何对证券投资风险进行预测的？</a>
                    <a class="news-right-link" href="#">浅谈金融风险的危机传导</a>
                    <a class="news-right-link" href="#">解析金融科技分线审计的必要性</a>
                </div>
            </div>
        </div>
    </div>



    <!--民众风采-->
    <div class="reference">
        <div class="wrap">
            <h2 class="title">民众内参</h2>
            <a class="sub-title" href="#">更多 ></a>
            <div class="reference-boxes">
                <a class="reference-box">
                    <img src="/assets/home_new/mock/reference1.jpg" alt="" class="reference-box-img">
                    <div class="reference-box-info">
                        <p class="reference-box-title">邵俊杰：严格控制仓位，回调时潜伏布局优质板块</p>
                        <p class="date">2018-03-26</p>
                    </div>
                </a>
                <a class="reference-box">
                    <img src="/assets/home_new/mock/reference2.jpg" alt="" class="reference-box-img">
                    <div class="reference-box-info">
                        <p class="reference-box-title">邵俊杰：严格控制仓位，回调时潜伏布局优质板块</p>
                        <p class="date">2018-03-26</p>
                    </div>
                </a>
                <a class="reference-box">
                    <img src="/assets/home_new/mock/reference3.jpg" alt="" class="reference-box-img">
                    <div class="reference-box-info">
                        <p class="reference-box-title">邵俊杰：严格控制仓位，回调时潜伏布局优质板块</p>
                        <p class="date">2018-03-26</p>
                    </div>
                </a>
                <a class="reference-box">
                    <img src="/assets/home_new/mock/reference4.jpg" alt="" class="reference-box-img">
                    <div class="reference-box-info">
                        <p class="reference-box-title">邵俊杰：严格控制仓位，回调时潜伏布局优质板块邵俊杰：严格控制仓位，回调时潜伏布局优质板块邵俊杰：严格控制仓位，回调时潜伏布局优质板块</p>
                        <p class="date">2018-03-26</p>
                    </div>
                </a>
            </div>
        </div>
    </div>



    <!--投顾风采-->
    <div class="teacher">
        <div class="wrap">
            <h2 class="title">投顾风采</h2>
            <a class="sub-title" href="#">更多 ></a>
            <div class="teacher-content">
                <div class="detail">
                    <div class="detail-wrap">
                        <img class="detail-img" src="/assets/home_new/mock/teacher2.png"/>
                        <div class="detail-name">
                            田雨辰
                        </div>
                        <div class="detail-line">
                            /
                        </div>
                        <div class="detail-number">
                            执业编号：A0770617010020
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="box-wrap">
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010021"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>

                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>

                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-wrap">
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010023"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>

                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>

                                    <div class="box before"
                                         data-img="/assets/home/mock/teacher2.png"
                                         data-name="田雨辰"
                                         data-number="A0770617010020"
                                    >
                                        <div class="box-before">
                                            <img class="box-before" src="/assets/home_new/mock/teacher1.png" alt="">
                                        </div>
                                        <div class="box-after">
                                            <span>田雨橙</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!--民众财经-->
    <div class="finance">
        <div class="wrap">
            <h2 class="title">民众财经</h2>
            <a class="sub-title" href="#">更多 ></a>
            <div class="finance-boxes">
                <a href="#" class="finance-box">
                    <img class="image" src="/assets/home_new/mock/minzhong1.jpg" alt="民众财经">
                    <span class="date">04-23</span>
                    <span class="finance-box-title">市场继续强势反弹</span>
                </a>
                <a href="#" class="finance-box">
                    <img class="image" src="/assets/home_new/mock/minzhong2.jpg" alt="民众财经">
                    <span class="date">04-23</span>
                    <span class="finance-box-title">市场继续强势反弹</span>
                </a>
                <a href="#" class="finance-box">
                    <img class="image" src="/assets/home_new/mock/minzhong3.jpg" alt="民众财经">
                    <span class="date">04-23</span>
                    <span class="finance-box-title">市场继续强势反弹</span>
                </a>
                <a href="#" class="finance-box">
                    <img class="image" src="/assets/home_new/mock/minzhong4.jpg" alt="民众财经">
                    <span class="date">04-23</span>
                    <span class="finance-box-title">市场继续强势反弹</span>
                </a>
                <a href="#" class="finance-box">
                    <img class="image" src="/assets/home_new/mock/minzhong5.jpg" alt="民众财经">
                    <span class="date">04-23</span>
                    <span class="finance-box-title">市场继续强势反弹</span>
                </a>
                <a href="#" class="finance-box">
                    <img class="image" src="/assets/home_new/mock/minzhong6.jpg" alt="民众财经">
                    <span class="date">04-23</span>
                    <p class="finance-box-title">市场继续强势反弹</p>
                </a>
                <a href="#" class="finance-box">
                    <img class="image" src="/assets/home_new/mock/minzhong7.jpg" alt="民众财经">
                    <span class="date">04-23</span>
                    <span class="finance-box-title">市场继续强势反弹</span>
                </a>
                <a href="#" class="finance-box">
                    <img class="image" src="/assets/home_new/mock/minzhong8.jpg" alt="民众财经">
                    <span class="date">04-23</span>
                    <span class="finance-box-title">市场继续强势反弹市场继续强势反弹强势反弹市场继续强势反弹市场继续强势反弹</span>
                </a>
            </div>
        </div>
    </div>



    <!--合作伙伴-->
    <div class="cooperative">
        <div class="wrap">
            <h2 class="title">合作伙伴</h2>
            <div class="cooperatives">
                <img class="cooperatives-img" src="/assets/home_new/images/common_pic_ac.png" alt="" />
                <img class="cooperatives-img" src="/assets/home_new/images/common_pic_tx.png" alt="" />
                <img class="cooperatives-img" src="/assets/home_new/images/common_pic_kcj.png" alt="" />
                <img class="cooperatives-img" src="/assets/home_new/images/common_pic_ztb.png" alt="" />
            </div>
        </div>
    </div>
</div>
@@include('./common/footer.html')
</body>
@@include('./common/foot.html')
</html>
<script src="/assets/home_new/public/swiper.min.js"></script>
<script>
  $(function(){
    var bannerSwiper = new Swiper('.swiper-container.index-banner', {
      speed:1000,
      autoplay: true,//可选选项，自动滑动
      pagination: {
        el: '.swiper-pagination',
        type:'bullets',
        clickable :true
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    })

    var bannerSwiper = new Swiper('.teacher .swiper-container', {
      speed:200,
      pagination: {
        el: '.swiper-pagination',
        type:'bullets',
        clickable :true
      }
    });

    $(".teacher .box").on('click',function(){
      var $this = $(this)
      if($this.hasClass('before')){
        $(".teacher .box.after").removeClass('after').addClass('before')
        $this.removeClass('before').addClass('after');

        var img = $this.data('img');
        var name = $this.data('name');
        var number = $this.data('number');
        $('.detail-img').attr('src',img);
        $('.detail-name').html(name);
        $('.detail-number').html(number);
      }
    });

    /*查过两行加上省略号*/
    eclipse('.finance-box-title',30);
    eclipse('.reference-box-title',30);
    eclipse('.product-box-info-detail',50);
  })
</script>
