<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教育园地</title>
    @@include('./common/head.html')
    <link rel="stylesheet" href="/assets/home_new/public/jquery.pagination.css">
    <link rel="stylesheet" href="/assets/home_new/css/education.css">
</head>
<body>
@@include('./common/header.html')

<div class="page-education">
    <div class="page-education-nav">
        <a href="#" class="li">适当性</a>
        <a href="#" class="li">行政政策</a>
        <a href="#" class="li">行业规范</a>
        <a href="#" class="li">投诉建议</a>
    </div>
    <div class="page-education-content">
        <div class="page-education-content-head">
            适当性
        </div>
        <div class="page-education-content-body">
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
            <div class="page-education-content-a">
                <a class="title">短期鸡苗价仍有上涨空间 产业链盈利或持续改善</a>
                <div class="date">2018-05-04 00:36</div>
            </div>
        </div>
        <div class="pagination">
            <div id="pagination" class="pagination-inner">

            </div>
        </div>
    </div>
</div>

@@include('./common/footer.html')
</body>
@@include('./common/foot.html')
<script src="/assets/home_new/public/jquery.pagination.min.js"></script>
<script>


  $("#pagination").pagination({
    currentPage: 1,
    totalPage: 12,
    callback: function(current) {
      alert(current)
    }
  });
</script>
</html>
