<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>民众资讯</title>
    @@include('./common/head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/information.css">
</head>
<body>
@@include('./common/header.html')

<div class="page-information">
    <div class="page-information-banner"></div>
    <div class="page-information-boxes">
        <div class="page-information-box dynamics-info">
            <h2 class="title">资讯动态</h2>
            <span class="more">更多></span>
            <div class="lis">
                <a class="li-top">
                    <div class="head">
                        <div class="head-date">
                            <div class="month">04</div>
                            <div class="date">25</div>
                        </div>
                        <div class="head-title">
                            月线四连阴“魔咒”重现？ 未来两周是大盘方向抉择时段
                        </div>
                    </div>
                    <div class="body">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </div>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
            </div>
        </div>
        <div class="page-information-box investment-view">
            <h2 class="title">投资观点</h2>
            <span class="more">更多></span>
            <div class="lis">
                <a class="li-top">
                    <div class="head">
                        <div class="head-date">
                            <div class="month">04</div>
                            <div class="date">25</div>
                        </div>
                        <div class="head-title">
                            月线四连阴“魔咒”重现？ 未来两周是大盘方向抉择时段
                        </div>
                    </div>
                    <div class="body">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </div>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
            </div>
        </div>
        <div class="page-information-box top-news">
            <h2 class="title">今日头条</h2>
            <span class="more">更多></span>
            <div class="lis">
                <a class="li-top">
                    <div class="head">
                        <div class="head-date">
                            <div class="month">04</div>
                            <div class="date">25</div>
                        </div>
                        <div class="head-title">
                            月线四连阴“魔咒”重现？ 未来两周是大盘方向抉择时段
                        </div>
                    </div>
                    <div class="body">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </div>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
                <a class="li">
                    <span class="li-date">2018/04/25</span>
                    <span class="li-summary">
                        “五一”小长假后，A股市场一度走强，但成交量不足，大盘冲高乏力。上周四为八卦日期，大盘探出低点反弹。周五市场总体观望，等待消息面明朗。5月12日为
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="page-information-boxes">
        <div class="page-information-box info-list">
            <h2 class="title">策略纪要</h2>
            <span class="more">更多></span>
            <div class="info-list-content">
                <a href="#" class="info-list-content-li">
                    <img class="info-list-content-li-img" src="/assets/home_new/images/videos/1.jpg"/>
                    <div class="info-list-content-li-info">
                        <div class="info-head">
                            <div class="info-title">
                                民众投顾的发展历史
                            </div>
                            <div class="info-sub">2018-04-16</div>
                        </div>
                    </div>
                </a>
                <a class="info-list-content-li">
                    <img class="info-list-content-li-img" src="/assets/home_new/images/videos/2.jpg"/>
                    <div class="info-list-content-li-info">
                        <div class="info-head">
                            <div class="info-title">
                                民众投顾的发展历史
                            </div>
                            <div class="info-sub">2018-04-16</div>
                        </div>
                    </div>
                </a>
                <a class="info-list-content-li">
                    <img class="info-list-content-li-img" src="/assets/home_new/images/videos/3.jpg"/>
                    <div class="info-list-content-li-info">
                        <div class="info-head">
                            <div class="info-title">
                                民众投顾的发展历史
                            </div>
                            <div class="info-sub">2018-04-16</div>
                        </div>
                    </div>
                </a>
                <a class="info-list-content-li">
                    <img class="info-list-content-li-img" src="/assets/home_new/images/videos/4.jpg"/>
                    <div class="info-list-content-li-info">
                        <div class="info-head">
                            <div class="info-title">
                                民众投顾的发展历史
                            </div>
                            <div class="info-sub">2018-04-16</div>
                        </div>
                    </div>
                </a>
                <a class="info-list-content-li">
                    <img class="info-list-content-li-img" src="/assets/home_new/images/videos/5.jpg"/>
                    <div class="info-list-content-li-info">
                        <div class="info-head">
                            <div class="info-title">
                                民众投顾的发展历史
                            </div>
                            <div class="info-sub">2018-04-16</div>
                        </div>
                    </div>
                </a>
                <a class="info-list-content-li">
                    <img class="info-list-content-li-img" src="/assets/home_new/images/videos/6.jpg"/>
                    <div class="info-list-content-li-info">
                        <div class="info-head">
                            <div class="info-title">
                                民众投顾的发展历史
                            </div>
                            <div class="info-sub">2018-04-16</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="page-information-box info-hot-list">
            <h2 class="title">热门纪要</h2>
            <!-- <a href=# class="more">更多></a> -->
            <div class="info-hot-list-content">
                <a href="#" class="info-hot-list-content-box">
                    <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/7.jpg"/>
                    <div class="info-hot-list-content-box-title">
                        <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
                        <div class="sub">2018-04-16</div>
                    </div>
                </a>
                <a href="#" class="info-hot-list-content-box">
                    <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/8.jpg"/>
                    <div class="info-hot-list-content-box-title">
                        <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
                        <div class="sub">2018-04-16</div>
                    </div>
                </a>
                <a href="#" class="info-hot-list-content-box">
                    <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/9.jpg"/>
                    <div class="info-hot-list-content-box-title">
                        <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
                        <div class="sub">2018-04-16</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@@include('./common/footer.html')
</body>
@@include('./common/foot.html')
<script>
    eclipse('.li-top .body',64);
    eclipse('.li-info-summary',120);
</script>
</html>
