<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投资者教育</title>
    @@include('./common/head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/investor-edu.css">
</head>
<body>
@@include('./common/header.html')

<!--面包屑导航-->
<div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">投资者教育</a>
    <a href="#" class="crumbs-add">客户投诉电话：0755-82560701 0755-82567081</a>
</div>

<div class="investor-edu">
    <div class="investor-edu-nav">
        <span class="investor-edu-nav-li active">打击非法证券活动</span>
        <a class="investor-edu-nav-li" href="./investor-edu-danger.html">风险揭示书</a>
        <a class="investor-edu-nav-li" href="./investor-edu-vigilance.html">警惕互联网非法荐股</a>
        <a class="investor-edu-nav-li" href="./investor-edu-knowledge.html">险有所知、投有所择、老有所享</a>
    </div>
    <div class="investor-edu-blacklist investor-edu-content">

    </div>
</div>

@@include('./common/footer.html')
</body>
@@include('./common/foot.html')
</html>
