<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>策略纪要</title>
  @@include('./common/head.html')
  <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
  <link rel="stylesheet" href="/assets/home_new/public/jquery.pagination.css">
  <link rel="stylesheet" href="/assets/home_new/pdf/web/pdf_viewer.css">
  <link rel="stylesheet" href="/assets/home_new/css/pdf-detail.css">
</head>

<body>
  @@include('./common/header.html')

  <!--面包屑导航-->
  <div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">民众资讯</a>
    <a href="#" class="crumbs-add">策略纪要</a>
    <a class="crumbs-add">民众证券的发展历史</a>
  </div>

  <!--样式同民众头条-->
  <div class="container">
    <div class="info-content">

      <div id="pageContainer" class="page-container" data-url="/assets/home_new/pdf/test/pdf.pdf">
        <canvas id="pageCanvas" class="page-canvas">

        </canvas>

        <div class="page-PDF-foot">
          <div class="page-PDF-control">
            <p id="prev" class="btn prev disable">上一页</p>
            <p class="show-index">Page <span id=page_num></span> of <span id=page_count></span></p>
            <p id="next" class="btn next">下一页</p>
          </div>
        </div>
      </div>


      <div class="page-article-content-nav">
        <div class="prev">
          <span>上一篇：</span>
          <a class="link" href="">民众证券的发展历史上一遍</a>
        </div>
        <div class="next">
          <span>下一篇：</span>
          <a class="link" href="">民众证券的发展历史下一遍</a>
        </div>
      </div>
    </div>

    <div class="info-hot-list">
      <h2 class="info-hot-list-head">
        热门纪要
      </h2>
      <div class="info-hot-list-content">
        <a href=# class="info-hot-list-content-box">
          <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/1.jpg" />
          <div class="info-hot-list-content-box-title">
            <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
            <div class="sub">2018-04-16</div>
          </div>
        </a>
        <a href=# class="info-hot-list-content-box">
          <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/1.jpg" />
          <div class="info-hot-list-content-box-title">
            <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
            <div class="sub">2018-04-16</div>
          </div>
        </a>
        <a href=# class="info-hot-list-content-box">
          <img class="info-hot-list-content-box-img" src="/assets/home_new/images/videos/1.jpg" />
          <div class="info-hot-list-content-box-title">
            <div class="word">民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史民众投顾的发展历史</div>
            <div class="sub">2018-04-16</div>
          </div>
        </a>
      </div>
    </div>
  </div>




  @@include('./common/footer.html')
</body>
@@include('./common/foot.html')
<script src="/assets/home_new/public/jquery.pagination.min.js"></script>
<script src="/assets/home_new/pdf/build/pdf.js"></script>
<script src="/assets/home_new/js/pdf-detail.js"></script>
<script>

  /*查过两行加上省略号*/
  eclipse('.info-text', 120);

  $("#pagination").pagination({
    currentPage: 1,
    totalPage: 12,
    callback: function (current) {
      alert(current)
    }
  });
</script>

</html>