<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>风险提示</title>
    @@include('./common/head.html')
    <link rel="stylesheet" href="/assets/home_new/public/swiper.min.css">
    <link rel="stylesheet" href="/assets/home_new/css/foot-link.css">
</head>
<body>
@@include('./common/header.html')

<!--面包屑导航-->
<div class="crumbs">
    <a href="#">首页</a>
    <a href="#" class="crumbs-add">风险提示</a>
</div>


<div class="container foot-link">
    <div class="foot-link-nav">
        <ul class="foot-link-ul">
            <li class="foot-link-li active"><a class="foot-link-a" href="#">风险提示</a></li>
            <li class="foot-link-li"><a class="foot-link-a" href="#">免责声明</a></li>
            <li class="foot-link-li"><a class="foot-link-a" href="#">公司简介</a></li>
            <li class="foot-link-li"><a class="foot-link-a" href="#">企业文化</a></li>
            <li class="foot-link-li"><a class="foot-link-a" href="#">企业资质</a></li>
            <li class="foot-link-li"><a class="foot-link-a" href="#">联系我们</a></li>
            <li class="foot-link-li"><a class="foot-link-a" href="#">关于我们</a></li>
            <li class="foot-link-li"><a class="foot-link-a" href="#">员工公示</a></li>
            <li class="foot-link-li"><a class="foot-link-a" href="#">投顾公示</a></li>
        </ul>
    </div>

    <div class="foot-link-content">
        <h2 class="title">风险提示</h2>
        <div class="content">
            <p>
                1、不仅是化工，近来新能源品种，甚至“苹果期货”这类小众品种，也呈现出大涨态势，但同为“周期品”的煤炭钢铁，始终乏善可陈。体现到股市上，就是权重品种乏力，而中小品种跃跃欲试。大盘也就缺乏足够上涨动力。究其原因，一是体现当前股市上投资人预期仍不坚定（缺乏领涨品种），二是对宏观经济“结构性分化”的一种“市场表现”。</p>
            <p>
                2、具体看，化工品上涨除自身周期性变化外，一个很重要原因在政策面，“三大攻坚战”之一的节能环保，在2018年压力逐渐提升，促使相关生产厂家不得不减产，加之供给侧结构性改革“淘汰落后产能”，都使供给端形成明显收缩预期，这一点与煤钢在此前两三年的经历相仿，只不过化工品的“调结构”工作正进入高潮，而煤钢的“去产能”故事已讲完。</p>
            <p>
                3、在基本面，煤钢面临房地产投资增速的下行压力（工业增加值能否继续保持势头也存疑），而经济转型升级也势必带来实体经济发展对煤钢需求的下降。因此，虽然同为周期品，但当前既有政策效应，又能得到经济基本面扶持的化工品的表现，自然好于煤钢。此外，近年来新能源产业链的发展，也带动钴、镍、锂等“小品种”的持续火热，股市上的相关板块也备受关注。</p>
            <p>
                4、中国经济的转型升级，大力发展新经济，某种程度也是把经济增长从传统经济模式下对煤钢的依赖，转移到新经济模式下，对新能源品种的需求。整体来看，煤炭、钢铁板块“风口已过”，虽然期货、现货市场上价格仍会有波动，但股市上的相关板块，已难以聚焦资金吸引力，未来的品种，短中期化工产业链会持续受益环保限产与需求回升，而长期看，新能源产业链上的钴、镍、锂，会有持续的事件驱动力。据公开市场资料总结，相关标的：新安股份、浙江龙盛、天齐锂业、先导智能。</p>
            <p>
                5、不仅是化工，近来新能源品种，甚至“苹果期货”这类小众品种，也呈现出大涨态势，但同为“周期品”的煤炭钢铁，始终乏善可陈。体现到股市上，就是权重品种乏力，而中小品种跃跃欲试。大盘也就缺乏足够上涨动力。究其原因，一是体现当前股市上投资人预期仍不坚定（缺乏领涨品种），二是对宏观经济“结构性分化”的一种“市场表现”。</p>
            <p>
                6、具体看，化工品上涨除自身周期性变化外，一个很重要原因在政策面，“三大攻坚战”之一的节能环保，在2018年压力逐渐提升，促使相关生产厂家不得不减产，加之供给侧结构性改革“淘汰落后产能”，都使供给端形成明显收缩预期，这一点与煤钢在此前两三年的经历相仿，只不过化工品的“调结构”工作正进入高潮，而煤钢的“去产能”故事已讲完。</p>
            <p>
                7、在基本面，煤钢面临房地产投资增速的下行压力（工业增加值能否继续保持势头也存疑），而经济转型升级也势必带来实体经济发展对煤钢需求的下降。因此，虽然同为周期品，但当前既有政策效应，又能得到经济基本面扶持的化工品的表现，自然好于煤钢。此外，近年来新能源产业链的发展，也带动钴、镍、锂等“小品种”的持续火热，股市上的相关板块也备受关注。</p>
            <p>
                8、中国经济的转型升级，大力发展新经济，某种程度也是把经济增长从传统经济模式下对煤钢的依赖，转移到新经济模式下，对新能源品种的需求。整体来看，煤炭、钢铁板块“风口已过”，虽然期货、现货市场上价格仍会有波动，但股市上的相关板块，已难以聚焦资金吸引力，未来的品种，短中期化工产业链会持续受益环保限产与需求回升，而长期看，新能源产业链上的钴、镍、锂，会有持续的事件驱动力。据公开市场资料总结，相关标的：新安股份、浙江龙盛、天齐锂业、先导智能。</p>
        </div>
    </div>
</div>


@@include('./common/footer.html')
</body>
@@include('./common/foot.html')
</html>
