/**{margin: 0;padding: 0;list-style: none;}*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin: 0;padding: 0;
	font-family: "微软雅黑", serif;}
li{list-style: none;}
input,button,select{outline: none;}
a{text-decoration: none;color:#000000}
img{margin: 0;padding: 0;}
/*定位*/
.fl{float: left;}
.fr{float: right;}
.db{display: block;}
.dn{display: none;}
.dib{display: inline-block;}
.pa{position: absolute;}
.pr{position: relative;}
.pf{position: fixed;}
/*************top,right,left,bottom*****************/
.top_0{top:0}
.left_0{left:0}
.bottom_0{bottom:0}
.right_0{right: 0}
/*框子模型*/
.w10p{width: 10%;}
.w15p{width: 15%;}
.w20p{width: 20%;}
.w25p{width: 25%;}
.w30p{width: 30%;}
.w31p{width: 31%;}
.w32p{width: 32%;}
.w33p{width: 33.33333333333%;}
.w40p{width: 40%;}
.w50p{width: 50%;}
.w60p{width: 60%;}
.w70p{width: 70%;}
.w75p{width: 75%;}
.w80p{width: 80%;}
.w90p{width: 90%;}
.w96p{width: 96%}
.wp{width: 100%;}

.h10p{height: 10%;}
.h20p{height: 20%;}
.h25p{height: 25%}
.h30p{height: 30%;}
.h31p{height: 31%;}
.h32p{height: 32%;}
.h33p{height: 33%;}
.h40p{height: 40%;}
.h50p{height: 50%;}
.h60p{height: 60%;}
.h70p{height: 70%;}
.h80p{height: 80%;}
.h90p{height: 90%;}
.hp{height: 100%;}
/*宽度em*/
.w1em{width: 1em;}
.w2em{width: 2em;}
.w3em{width: 3em;}
.w4em{width: 4em;}
.w5em{width: 5em;}
.w6em{width: 6em;}
.w7em{width: 7em;}
.w8em{width: 8em;}
.w9em{width: 9em;}
.w10em{width: 10em;}

/*宽度px*/
.w1200{width: 1200px;}
.w926{width: 926px;}
.w580{width: 580px;}
.w400{width: 400px;}
.w390{width: 390px;}
.w330{width: 330px;}
.w310{width: 310px;}
.w300{width: 300px;}
.w274{width: 274px;}
.w255{width: 255px;}
.w250{width: 250px;}
.w210{width: 210px;}
.w200{width: 200px;}
.w150{width: 150px;}
.w139{width: 139px;}
.w136{width: 136px;}
.w100{width: 100px;}
.w99{width: 99px;}
.w80{width: 80px;}
.w50{width: 50px;}

.h-5em{height: .5em;}
.h1em{height: 1em;}
.h2em{height: 2em;}
.h3em{height: 3em;}
.h4em{height: 4em;}
.h5em{height: 5em;}
.h6em{height: 6em;}
.h7em{height: 7em;}
.h8em{height: 8em;}
.h9em{height: 9em;}
.h10em{height: 10em;}

.h10{height: 10px;}
.h20{height: 20px;}
.h22{height: 22px;}
.h24{height: 24px;}
.h25{height: 25px;}
.h30{height: 30px;}
.h36{height: 36px;}
.h40{height: 40px;}
.h50{height: 50px;}
.h52{height: 52px;}
.h80{height: 80px;}
.h99{height: 99px;}
.h100{height: 100px;}
.h120{height: 120px;}
.h152{height: 152px;}
.h167{height: 167px;}
.h218{height: 218px;}
.h246{height: 246px;}
.h290{height: 290px;}
.h354{height: 354px;}
.h700{height: 700px;}



.p1{padding: 1px;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.pt39{padding-top: 39px;}
.pt2l8{padding: 2px 8px;}
.pt5l10{padding: 5px 10px;}
.pt6l12{padding: 6px 12px;}
/*ptb*/
.ptb2{padding: 2px 0;}
.ptb4{padding: 4px 0;}
.ptb6{padding: 6px 0;}
.ptb8{padding: 8px 0;}
.ptb10{padding: 10px 0;}
.ptb12{padding: 12px 0;}
.ptb14{padding: 14px 0;}
.ptb16{padding: 16px 0;}
/*ptb*/
/*plr*/
.plr2{padding: 0 2px;}
.plr4{padding: 0 4px;}
.plr6{padding: 0 6px;}
.plr8{padding: 0 8px;}
.plr10{padding:0  10px;}
.plr12{padding: 0 12px;}
.plr14{padding: 0 14px;}
.plr16{padding: 0 16px;}
/*plr*/


.ma0{margin: 0 auto;}
.mr38{margin-right: 38px;}
/*margin-top:em*/
.mt-5em{margin-top: .5em;}
.mt1em{margin-top: 1em;}
.mt2em{margin-top: 2em;}
.mt3em{margin-top: 3em;}
.mt4em{margin-top: 4em;}
.mt5em{margin-top: 5em;}
.mt6em{margin-top: 6em;}
.mt7em{margin-top: 7em;}
.mt8em{margin-top: 8em;}
.mt9em{margin-top: 9em;}
.mt10em{margin-top: 10em;}
/*margin-top:em*/
/*margin-bottom:em*/
.mb-5em{margin-bottom: .5em;}
.mb1em{margin-bottom: 1em;}
.mb2em{margin-bottom: 2em;}
.mb3em{margin-bottom: 3em;}
.mb4em{margin-bottom: 4em;}
.mb5em{margin-bottom: 5em;}
.mb6em{margin-bottom: 6em;}
.mb7em{margin-bottom: 7em;}
.mb8em{margin-bottom: 8em;}
.mb9em{margin-bottom: 9em;}
.mb10em{margin-bottom: 10em;}
/*margin-bottom:em*/
/*margin-right:em*/
.mr-5em{margin-right: .5em;}
.mr1em{margin-right: 1em;}
.mr2em{margin-right: 2em;}
.mr3em{margin-right: 3em;}
.mr4em{margin-right: 4em;}
.mr5em{margin-right: 5em;}
.mr6em{margin-right: 6em;}
.mr7em{margin-right: 7em;}
.mr8em{margin-right: 8em;}
.mr9em{margin-right: 9em;}
.mr10em{margin-right: 10em;}
/*margin-right:em*/
/*margin-top:px*/
.mt4p{margin-top: 4%;}
.mt-20{margin-top: -20px;}

.mt5{margin-top: 5px;}
.mt8{margin-top:8px}
.mt10{margin-top: 10px;}
.mt12{margin-top: 12px;}
.mt15{margin-top: 15px;}
.mt18{margin-top: 18px;}
.mt20{margin-top: 20px;}
.mt29{margin-top: 29px;}
.mt30{margin-top: 30px;}
.mt36{margin-top: 36px;}
.mt40{margin-top: 40px;}
.mt42{margin-top: 42px;}
.mt46{margin-top: 46px;}
.mt50{margin-top: 50px;}
.mt52{margin-top: 52px;}
.mt56{margin-top: 56px;}
.mt76{margin-top: 76px;}
.mt78{margin-top: 78px;}
/*margin-top:px*/
/*margin-left:em*/
.ml-5em{margin-left: .5em;}
.ml1em{margin-left: 1em;}
.ml2em{margin-left: 2em;}
.ml3em{margin-left: 3em;}
.ml4em{margin-left: 4em;}
.ml5em{margin-left: 5em;}
.ml6em{margin-left: 6em;}
.ml7em{margin-left: 7em;}
.ml8em{margin-left: 8em;}
.ml9em{margin-left: 9em;}
.ml10em{margin-left: 10em;}
/*margin-left:em*/
/*margin-left:px*/
.ml3{margin-left: 3px;}
.ml5{margin-left: 5px;}
.ml10{margin-left:10px ;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml34{margin-left: 34px;}
.ml35{margin-left: 35px;}
.ml37{margin-left: 37px;}
.ml38{margin-left: 38px;}
.ml46{margin-left: 46px;}
.ml48{margin-left: 48px;}
.ml58{margin-left: 58px;}
.ml61{margin-left: 61px;}
.ml70{margin-left: 70px;}
.ml95{margin-left: 95px;}
.ml100{margin-left: 100px;}
.ml50{margin-left: 50px;}
.ml55{margin-left: 55px;}
.ml141{margin-left: 141px;}
/*margin-left:px*/
.mr0{margin-right: 0;}
.mr22{margin-right: 22px;}
.mr32{margin-right: 32px;}
.mr50{margin-right: 50px;}
/*line-height*/
.lh20{line-height: 20px;}
.lh24{line-height: 24px;}
.lh26{line-height: 26px;}
.lh30{line-height: 30px;}
.lh36{line-height: 36px;}
.lh40{line-height: 40px;}
.lh50{line-height: 50px;}
.lh100{line-height: 100px;}
.lh129{line-height: 129px;}
/*边框圆角*/
.br2{border-radius: 2px;}
.br4{border-radius: 4px;}
/*调试框*/
/*文本大小*/
.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs18{font-size: 18px;}
.fs20{font-size: 20px;}
.fs22{font-size: 22px;}
.fs24{font-size: 24px;}
.fs26{font-size: 26px;}
.fs28{font-size: 28px;}
.fs30{font-size:30px ;}
.fs32{font-size: 32px;}
.fs34{font-size: 34px;}
.fs36{font-size: 36px;}
.fs44{font-size: 44px;}
/*opcity*/
.o8{opacity: .8;}
/*文本颜色*/
.cp{cursor: pointer;}
.cd{cursor: default;}
.ct{cursor: text;}
/*文本定位*/
.tac{text-align: center;}
.tar{text-align: right;}
.tal{text-align: left;}
/*文本重量*/
.fwb{font-weight: bold;}
.fw700{font-weight: 700;}
/*文本缩进*/
.tnt1{text-indent: 1em;}
.tnt2{text-indent: 2em;}
.tnt3{text-indent: 3em;}
/*文本溢出变...*/
.nwarp{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/*清楚浮动*/
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}

/*灰色系边框及背景色*/
/*边框*/
.b_11{border:1px solid #FFFFFF}
.b_12{border:1px solid #F0F0F0}
.b_13{border:1px solid #E0E0E0}
.b_14{border:1px solid #D8D8D8}
.b_15{border:1px solid #C8C8C8}
.b_16{border:1px solid #B8B8B8}
.b_17{border:1px solid #A8A8A8}
.b_18{border:1px solid #989898}
.b_19{border:1px solid #888888}
.b_20{border:1px solid #787878}
.b_21{border:1px solid #686868}
.b_22{border:1px solid #585858}
.b_23{border:1px solid #484848}
.b_24{border:1px solid #383838}
.b_25{border:1px solid #282828}
.b_26{border:1px solid #181818}
.b_27{border:1px solid #080808}
/*底边框*/
.bb_11{border-bottom:1px solid #FFFFFF}
.bb_12{border-bottom:1px solid #F0F0F0}
.bb_13{border-bottom:1px solid #E0E0E0}
.bb_14{border-bottom:1px solid #D8D8D8}
.bb_15{border-bottom:1px solid #C8C8C8}
.bb_16{border-bottom:1px solid #B8B8B8}
.bb_17{border-bottom:1px solid #A8A8A8}
.bb_18{border-bottom:1px solid #989898}
.bb_19{border-bottom:1px solid #888888}
.bb_20{border-bottom:1px solid #787878}
.bb_21{border-bottom:1px solid #686868}
.bb_22{border-bottom:1px solid #585858}
.bb_23{border-bottom:1px solid #484848}
.bb_24{border-bottom:1px solid #383838}
.bb_25{border-bottom:1px solid #282828}
.bb_26{border-bottom:1px solid #181818}
.bb_27{border-bottom:1px solid #080808}
/*背景色*/
.bc_11{background:#FFFFFF}
.bc_12{background:#F0F0F0}
.bc_13{background:#E0E0E0}
.bc_14{background:#D8D8D8}
.bc_15{background:#C8C8C8}
.bc_16{background:#B8B8B8}
.bc_17{background:#A8A8A8}
.bc_18{background:#989898}
.bc_19{background:#888888}
.bc_20{background:#787878}
.bc_21{background:#686868}
.bc_22{background:#585858}
.bc_23{background:#484848}
.bc_24{background:#383838}
.bc_25{background:#282828}
.bc_26{background:#181818}
.bc_27{background:#080808}
/*文本颜色*/
.c_11{color:#FFFFFF}
.c_12{color:#F0F0F0}
.c_13{color:#E0E0E0}
.c_14{color:#D8D8D8}
.c_15{color:#C8C8C8}
.c_16{color:#B8B8B8}
.c_17{color:#A8A8A8}
.c_18{color:#989898}
.c_19{color:#888888}
.c_20{color:#787878}
.c_21{color:#686868}
.c_22{color:#585858}
.c_23{color:#484848}
.c_24{color:#383838}
.c_25{color:#282828}
.c_26{color:#181818}
.c_27{color:#080808}
/*动画*/
.animate1{transition:all .5s}
.scale1:hover{
	-moz-transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
.scale2{
	-moz-transform:scale(1,1.05);
	-webkit-transform:scale(1,1.05);
	-o-transform:scale(1,1.05);
	transform: scale(1,1.05);
}
.txt1{text-shadow:1px 4px 2px #333;}
/*动画*/
.scrollbar{
	overflow-x: hidden;
	overflow-y:auto ;
	font-family: "微软雅黑", serif;
}

.test:hover{
-moz-transform:scale(1.1,1.1);
-webkit-transform:scale(1.1,1.1);
-o-transform:scale(1.1,1.1);
}
/*显示与隐藏*/
.oh{overflow:hidden}
.oa{overflow: auto}
.gridern{
	background: linear-gradient(to bottom, #e6e6e6, #b9bbba);
	background:-moz-linear-gradient(to bottom, #e6e6e6, #b9bbba);
    background:-webkit-linear-gradient(to bottom, #e6e6e6, #b9bbba);
    background:-o-linear-gradient(to bottom, #e6e6e6, #b9bbba);
}
