<!--底部-->
<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-info">
            <ul class="footer-info-nav">
                <li class="footer-info-nav-li"><a href="#">风险提示</a></li>
                <li class="footer-info-nav-li"><a href="#">免责声明</a></li>
                <li class="footer-info-nav-li"><a href="#">关于我们</a></li>
                <li class="footer-info-nav-li"><a href="#">公司简介</a></li>
                <li class="footer-info-nav-li"><a href="#">企业文化</a></li>
                <li class="footer-info-nav-li"><a href="#">业务资质</a></li>
                <li class="footer-info-nav-li"><a href="#">员工公示</a></li>
                <li class="footer-info-nav-li"><a href="#">联系我们</a></li>
                <li class="footer-info-nav-li"><a href="#">在线留言</a></li>
                <li class="footer-info-nav-li"><a href="#">投顾公示</a></li>
                <li class="footer-info-nav-li"><a href="#">售后服务</a></li>
            </ul>
            <div class="footer-info-text">
                <p class="footer-info-text-p">证券投资咨询业务资格证书：ZX0112网站备案号：沪ICP备 8888888 号：88888888888 版权所有：深圳君银证券投资咨询顾问有限公司
                </p>
                <p class="footer-info-text-p">举报邮箱：jubao@zqt888.cn 客服电话：012-88888888；021-888888888 投诉电话：021-88888888
                    地址：上海市闸北区广中西路777好启迪大厦1006室
                </p>
                <p class="footer-info-text-p">风险提示：本站所载文章，数据仅供参考，入市需谨慎，投资有风险</p>
            </div>
        </div>
        <div class="footer-qr-code">
            <img class="footer-qr-code-img" src="/assets/home_new/images/ewm.jpg" alt=""/>
            <p class="footer-qr-code-p">关注我们</p>
        </div>
    </div>
</footer>
<!--底部-->
